<template>
  <div id="column-bar-chart-vertical" class="column-bar-chart" :class="direction" :style="{ height: height + 'px', width: width }">
    <div v-if="direction ==='vertical'" id="chart-scale" class="chart-scale" :style="chartHeightWithoutMargins" :class="chartScaleValues().length == 1 ? 'chart-scale__one-element' : ''">
      <div v-if="direction ==='vertical'" v-for="index in chartScaleValues()" :key="index + 'chart-scale'">
        {{index}}
      </div>
    </div>
    <div v-if="direction ==='vertical'" id="chart-dividing-lines" class="chart-dividing-lines"
      :style="chartDividingLinesStyle">
      <div v-for="index in chartScaleValues()" :key="index + 'scale-line'" class="scale-line"></div>
      <div v-if="direction ==='vertical'" class="chart-ticks" :style="chartTickStyle">
        <span id="chart-ticks-text-number" class="chart-ticks__text number">{{tick.value}}</span>
        <div class="scale-line red-line"></div>
        <span class="chart-ticks__text text">{{tick.name}}</span>
      </div>
    </div>
    <div class="chart-columns" :class="direction" :style="{ width: chartDividingLinesStyle.width }">
      <div v-for="(chartItem, index) in chartDataset" :key="index + 'column-bar-chart__item'" class="column-bar-chart__item" :class="direction">
        <div class="chart-title" :class="direction">
          <div class="chart-title__wrapper" v-html="chartItem.title"></div>
        </div>
        <div class="chart-wrapper" :class="direction">
          <template v-for="(chart, barChartIndex) in barChart[index]">
            <div v-if="chart.typeFact && direction ==='vertical'" class="chart-legend__hatching" :key="barChartIndex + 'chart-legend__hatching'"
                 :style="'bottom: ' + chart.hatchingSetting.bottom + '%; height: ' + chart.hatchingSetting.value + '%;'">
            </div>
            <div v-else-if="chart.typeFact && direction ==='horizontal'" class="chart-legend__hatching" :key="barChartIndex + 'chart-legend__hatching'"
                 :style="'left: ' + chart.hatchingSetting.bottom + '%; width: ' + chart.hatchingSetting.value + '%; min-width: ' + chart.hatchingSetting.minWidth + 'px;'">
            </div>
            <div :key="barChartIndex + 'chart-wrapper__item'"
                 v-bind:id="chart.innerTitle ?`${index}${chart.innerTitle}` : ''"
                 class="chart-wrapper__item"
                 :class="direction"
                 @click="showPopup(index)"
                 :style="chartWrapperItemStyle(chart, barChartIndex)">
              <div v-if="!(chartItem.title === 'Вне плана' || chartItem.title.includes('Вне плана'))"
                v-bind:id="`${index}${barChartIndex}${chart.innerTitle}`"
                class="chart-legend__title inner"
                :class="direction"
                :style="{ color: chartItem.legendColor[barChartIndex] }">
                {{ columns[`${index}`] >= 20 || direction === 'vertical' ?  chart.innerTitle : '' | splitNumber }}
              </div>
              <div id="badge" v-if="badgeExist(chartItem, barChartIndex, barChart[index][1].percent, barChart[index][2].percent)" class="badge__wrapper">
                <div class="pin-late">
                  <div class="pin-in-time__inner-title">{{Math.abs(chartItem.badgeTitle)}}</div></div>
              </div>
              <div v-if="chart.titleBottomInset"
                   :style="legendTitleStyle(chartItem)">
                <div v-for="legendItem in chartLegend[index]" :key="legendItem.id"
                     :style="{ color: legendItem.color }"
                     class="chart-legend__title outer"
                     :class="direction"
                     v-if="legendRule(legendItem, direction, chartItem.title)"
                >
                  <div class="legend-title">{{ legendItem.title | splitNumber }}</div>
                </div>
                <div class="chart-legend__title outer"
                     v-if="chartItem.title === 'Вне плана' && direction === 'horizontal'"
                     :style="{ color: 'black' }"
                     :class="direction">
                  <div class="legend-title">{{ chartItem.chart[0] | splitNumber}}</div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <popup :popupItems="popupItems"
           :closeAction="closePopup"
           v-if="showModal"
           :direction="direction"
           :xValue="xValue"
           :yValue="yValue"
           :indexChart="indexChart"
    >
      <div class="popup-header" slot="header">{{popupTitle}}</div>
      <div slot="body">
        <div class="popup-item" v-for="(item, index) in popupItems" :key="item.value + index">
          <div v-if="item.title" class="popup-item__title" :class="index < (popupItems.length - 1) ? 'gray' : 'black'">{{item.title}}</div>
          <template v-if="'currentTime' in item && item.currentTime === true">
            <router-link :to="{ name: 'TransportStatus', query: { type: index === 0 ? 'plan' : (index === 1 ? 'fact' : 'lt')}}">
              <div :style="{ width: item.isButton ? '100%' : '' }" v-html="item.value"/>
            </router-link>
          </template>
          <template v-else>
            <div :style="{ width: item.isButton ? '100%' : '' }" v-html="item.value"/>
          </template>
        </div>
      </div>
    </popup>
  </div>

</template>

<script>
import Popup from '../layout/Popup'

export default {
  name: 'ColumnBarChart',
  components: {
    Popup
  },
  props: {
    dataset: Array,
    popupLabels: Array,
    direction: String,
    height: Number,
    width: String,
    scaleStep: Number,
    tick: { type: Object }
  },
  methods: {
    badgeExist: function (chartItem, barChartIndex, diff, plan) {
      let badgeValue = chartItem.badgeTitle
      let indexChart = diff < plan ? 2 : 1
      return badgeValue && barChartIndex === indexChart
    },
    legendRule: function (legendItem, direction, title) {
      if (direction === 'horizontal') {
        let fact = legendItem.id === 0
        let diff = legendItem.id === 1
        let plan = legendItem.id === 2
        let pastGraph = title === 'Прошлая смена'
        let curGraph = title === 'Текущая смена'
        let futureGraph = title === 'Будущая смена'
        let outGraph = title === 'Вне плана'
        let futureFlag = futureGraph && (fact || diff)
        let pastFlag = pastGraph && diff
        let curFlag = curGraph && diff
        let outFlag = outGraph && (plan || diff)
        if (legendItem.title <= 0 || futureFlag || pastFlag || outFlag) {
          if (!legendItem.title <= 0 || pastFlag || futureFlag || curFlag || outFlag) {
            return false
          }
        }
      } else if (direction === 'vertical') {
        var vnePlan = title.includes('Вне плана')
        if (legendItem.title <= 0 && vnePlan) {
          return false
        }
      }
      return true
    },
    closePopup: function () {
      this.showModal = false
    },
    togglePopup: function () {
      this.showModal = !this.showModal
    },
    configurePopupItemsVertical: function (popupObject, itemTitles, currentTime) {
      if ((!popupObject.items[2] || popupObject.title === 'Хвосты') && popupObject.items.length === 3) {
        popupObject.items.splice(-1, 1)
      }
      this.popupItems = Array.from(popupObject.items).map((item, index) => {
        var planVne = popupObject.title === 'Вне плана' && index === 0
        return {
          currentTime: currentTime,
          title: !planVne ? itemTitles[index].text : '',
          value: !planVne ? `<div class="popup-item__value" style="color: ${itemTitles[index].color}">${item}</div>` : ''
        }
      })
      this.popupTitle = popupObject.title
    },
    configurePopupItemsHorizontal: function (popupObject, title, isNeedButton) {
      this.popupItems = Array.from(popupObject).map((item, index) => {
        return {
          title: item.title,
          value: `<div class="popup-item__value" style="color: ${item.color}">${item.value}</div>`
        }
      })
      if (isNeedButton) {
        const href1 = `/#/acceptance-chart?switch=${this.switchValue}`
        const href2 = `/#/acceptance-status/transport-status/`
        const linkText = this.switchValue === 'N' ? 'паллет' : 'заказов'
        const href = this.switchValue === 'N' ? href1 : href2
        this.popupItems.push({
          value: `<div class="popup-footer" slot="footer">
           <a id="clear-btn" href="${href}" >
             <div class="clear-btn" >
                К списку ${linkText}
             </div>
           </a>
         </div>`,
          isButton: true
        })
      }
      this.popupTitle = title
    },
    showPopup: function (index) {
      this.xValue = event.clientX
      this.yValue = event.clientY
      this.indexChart = index
      if (this.direction === 'vertical') {
        this.configurePopupItemsVertical(this.chartDataset[index].popupObject, this.popupTitles[index], this.chartDataset[index].currentTime)
        this.togglePopup()
      } else if (this.direction === 'horizontal') {
        if (index === 1) {
          this.configurePopupItemsHorizontal(this.chartDataset[index].popupObject, this.chartDataset[index].title, true)
        } else {
          this.configurePopupItemsHorizontal(this.chartDataset[index].popupObject, this.chartDataset[index].title)
        }
        this.togglePopup()
      }
    },
    calcMaxSummary: function () {
      var summaryArray = []

      // Максимальный элемент из значений для диаграммы
      this.chartDataset.forEach((datasetItem) => {
        datasetItem.chart.forEach((chartItem, index) => {
          if (this.direction === 'horizontal' && index === 1) {
            chartItem = chartItem + datasetItem.chart[0]
          }
          summaryArray.push(chartItem)
        })
      })

      var maxSummary = Math.max.apply(null, summaryArray)

      // Округление максимального до ближайшего 'красивого' числа
      var splitMaxSummary = maxSummary.toString().split('').reverse()
      splitMaxSummary.forEach((item, index, array) => {
        if (index < array.length - 1) {
          if (parseInt(item, 10) >= 10 && index < array.length) {
            array[index + 1] = parseInt(array[index + 1], 10) + 1
            array[index] = 0
          }
          if (parseInt(item, 10) > 0 && index <= Math.floor(array.length / 3)) {
            array[index + 1] = parseInt(array[index + 1], 10) + 1
            array[index] = 0
          }
        }
      })
      var roundedMaxSummary = splitMaxSummary.reverse().join('')
      var maxScaleValue = parseInt(roundedMaxSummary, 10)

      this.maxSummary = maxScaleValue
    },
    chartScaleValues: function () {
      // TODO: Условное количество шагов для шкалы может вычисляться динамически
      var step = 4
      if (this.maxSummary >= 1000 && this.maxSummary < 10000) {
        step = 5
      } else if (this.maxSummary >= 10000) {
        step = 6
      }

      // Высота деления
      var scale = this.maxSummary < step ? 1 : Math.floor(this.maxSummary / step)
      // Округление высоты деления до ближайшего 'красивого' числа
      var splitScale = scale.toString().split('').reverse()
      splitScale.forEach((item, index, array) => {
        var intItem = parseInt(item, 10)

        if (index < array.length - 1) {
          if (intItem >= 5) {
            array[index + 1] = parseInt(array[index + 1], 10) + 1
          }
          array[index] = 0
        }

        if (array.length === 1) {
          if (intItem < 5 && intItem > 0) {
            array[index] = 5
          } else {
            array[index] = 10
          }
        }
      })
      var scaleStep = parseInt(splitScale.reverse().join(''))

      var scaleValues = []

      var i = 0
      do {
        scaleValues.push(i)
        i += scaleStep
      } while (i < this.maxSummary + scaleStep)

      scaleValues = scaleValues.reverse()
      return scaleValues
    },
    legendTitleStyle: function (chartItem) {
      return this.direction === 'horizontal'
        ? {
          position: 'absolute',
          right: '-40px',
          height: '100%',
          alignItems: 'center',
          display: 'flex',
          flexDirection: 'column-reverse',
          justifyContent: 'space-between',
          pointerEvents: 'none'
        }
        // TODO при возвращении badge нужно вернуть свойство top: chartItem.badgeTitle ? '-56px' : '-21px' для вертикальной
        : { position: 'absolute', width: '100%', top: '-21px', textAlign: 'center', pointerEvents: 'none' }
    },
    configureBarChartInnerTitles: function () {
      this.chartDataset.forEach((item, index) => {
        const firstChartColumn = document.getElementById(`${index}${item.chart[0]}`)
        const innerTitle = document.getElementById(`${index}0${item.chart[0]}`)
        const topInset = 8
        const bottomInset = 0

        if (innerTitle) {
          const innerTitleHeightWithInsets = innerTitle.offsetHeight + topInset + bottomInset
          if (firstChartColumn) {
            const chartColumnHeight = firstChartColumn.offsetHeight
            innerTitle.style.visibility =
              innerTitleHeightWithInsets < chartColumnHeight ? 'visible' : 'hidden'
          }
        }
      })
    },
    calcChartWidth: function () {
      const chartScale = document.getElementById('chart-scale')
      const chartColumnsVertical = document.getElementById('column-bar-chart-vertical')
      const horizontalInsets = 54

      let chartWidth = 0
      if (chartScale && chartColumnsVertical) {
        chartWidth = chartColumnsVertical.offsetWidth - chartScale.offsetWidth - horizontalInsets
      }
      return chartWidth
    },
    configureChartTickStyle: function () {
      const chartScale = document.getElementById('chart-scale')
      const chartColumnsVertical = document.getElementById('column-bar-chart-vertical')
      const verticalInsets = 110
      const chartRedTickText = document.getElementsByClassName('chart-ticks__text text')[0]
      const chartRedTickTextLeftOffset = 16

      if (chartScale && chartColumnsVertical && chartRedTickText) {
        const width = this.calcChartWidth() + chartRedTickText.offsetWidth + chartRedTickTextLeftOffset
        this.chartHeightWithoutMargins = (this.height - verticalInsets) + 'px'
        this.chartTickStyle = {
          height: this.tickHeight + '%',
          width: width + 'px'
        }
      }
    },
    configureChartDividingLinesStyle: function () {
      const chartScale = document.getElementById('chart-scale')
      const chartColumnsVertical = document.getElementById('column-bar-chart-vertical')
      const verticalInsets = 110
      const width = this.calcChartWidth()

      if (chartScale && chartColumnsVertical) {
        this.chartHeightWithoutMargins = (this.height - verticalInsets) + 'px'
        this.chartDividingLinesStyle = {
          height: this.chartHeightWithoutMargins,
          marginLeft: (chartScale.offsetWidth + 5) + 'px',
          width: width + 'px'
        }
      }
    },
    chartWrapperItemStyle: function (chart, barChartIndex) {
      var zIndex = ''
      if (barChartIndex === 0) {
        zIndex = 10
      } else if (barChartIndex === 1) {
        zIndex = 9
      }

      return this.direction === 'horizontal' ? { width: `${chart.percent}%`, backgroundColor: chart.color, zIndex: zIndex }
        : { height: `${chart.percent}%`, backgroundColor: chart.color, zIndex: zIndex }
    },
    minWidthNumber: function (number) {
      var minWidth = 0
      var countNumbers = number ? number.toString().length : 0
      if (number) {
        if (countNumbers === 2) minWidth = 12
        else if (countNumbers === 3) minWidth = 24
        else minWidth = 10
      }
      return minWidth
    },
    configureBarChart: function () {
      var summaryArray = []

      this.chartDataset.forEach((datasetItem) => {
        datasetItem.chart.forEach(chartItem => {
          summaryArray.push(chartItem)
        })
      })

      var chartScaleValues = this.chartScaleValues()
      var maxSummary = chartScaleValues[0]
      this.barChart = this.chartDataset.map((datasetItem) => {
        // факт может быть больше плана
        // и наоборот
        var isCurrentTimeExists = datasetItem.currentTime !== undefined
        var plan = isCurrentTimeExists ? datasetItem.chart[datasetItem.chart.length - 1] : datasetItem.chart[2]
        var fact = datasetItem.chart[0]
        var diff = datasetItem.chart[1] + ((datasetItem.chart[0] && datasetItem.chart[1]) ? datasetItem.chart[0] : 0)
        var factAndPlan = isCurrentTimeExists ? [fact, plan] : [fact, diff, plan]
        var summaryDatasetItem = Math.max.apply(null, factAndPlan)
        // погрешность для процентного соотношения
        var delta = 20
        // находим процент максимального для объекта от общего максимального
        var percentByMaxSummary = summaryDatasetItem * (100 - delta) / maxSummary
        // находим процент каждого элемента от максимального в группе
        var barChartItem = datasetItem.chart.map((chartItem, index, array) => {
          var percentItemByMaxSummary = summaryDatasetItem !== 0 ? (index === 1 && !isCurrentTimeExists ? diff : chartItem) * percentByMaxSummary / summaryDatasetItem : 0
          var percentFact = summaryDatasetItem !== 0 ? fact * percentByMaxSummary / summaryDatasetItem : 0
          var percentPlan = summaryDatasetItem !== 0 ? plan * percentByMaxSummary / summaryDatasetItem : 0
          var flagHatching = index === 0 && percentFact >= percentPlan && percentFact !== 0
          var bottom = percentPlan
          var value = percentFact >= percentPlan ? (percentFact - percentPlan) : 0
          return {
            innerTitle: index === 0 && datasetItem.chart[0] > 0 ? datasetItem.chart[0] : null,
            percent: percentItemByMaxSummary,
            color: datasetItem.chartColor[index],
            typeFact: flagHatching,
            hatchingSetting: {bottom: bottom, value: value}
          }
        })
        // нахождение самого высокого столбца для расположения баджа и легенды
        var percents = []
        barChartItem.forEach((value) => {
          percents.push(value.percent)
        })

        var maxTemp = Math.max.apply(null, percents)
        barChartItem.forEach(item => {
          if (item.percent === maxTemp) {
            item['titleBottomInset'] = 2
          }
        })
        return barChartItem
      })
    },
    configureChartLegend: function () {
      this.chartLegend = this.chartDataset.map((datasetItem) => {
        var legendItem = []
        if (this.direction === 'horizontal') {
          datasetItem.chart.forEach((chartItem, innerIndex) => {
            if (innerIndex > 0) {
              legendItem.push(
                {
                  id: innerIndex,
                  title: chartItem,
                  color: datasetItem.legendColor[innerIndex]
                }
              )
            }
          })
        } else if (this.direction === 'vertical') {
          datasetItem.chart.forEach((chartItem, innerIndex) => {
            if (innerIndex > 1 || (datasetItem.title.includes('Вне плана') && innerIndex === 0)) {
              legendItem.push(
                {
                  title: chartItem,
                  color: datasetItem.title.includes('Вне плана') && innerIndex === 0 ? 'black' : datasetItem.legendColor[innerIndex]
                }
              )
            }
          })
        }
        return legendItem
      })
    },
    configureColumnWidth () {
      let columns = document.getElementsByClassName('chart-wrapper__item horizontal')
      if (columns.length) {
        this.columns = {
          0: columns[0].offsetWidth,
          1: columns[3].offsetWidth,
          2: columns[6].offsetWidth,
          3: columns[9].offsetWidth
        }
      }
    }
  },
  created () {
    this.calcMaxSummary()
    this.configureBarChart()
    this.configureChartLegend()
  },
  mounted () {
    this.configureChartDividingLinesStyle()
    this.configureChartTickStyle()
    this.configureBarChartInnerTitles()
    this.configureColumnWidth()
  },
  computed: {
    tickHeight: function () {
      // высоты контейнера и меток для линии
      let chartNumberTitleHeight = 0
      let chartTicksContainerHeight = 0
      if (document.getElementById('chart-ticks-text-number') && document.getElementById('chart-dividing-lines')) {
        chartNumberTitleHeight = Math.ceil(document.getElementById('chart-ticks-text-number').offsetHeight)
        chartTicksContainerHeight = Math.ceil(document.getElementById('chart-dividing-lines').offsetHeight)
      }

      // приблизительный рассчет высоты метки
      const marginBottom = 5
      let chartNumberTitleHeightInPercent = 0
      if (chartTicksContainerHeight > 0) {
        chartNumberTitleHeightInPercent = Math.ceil((chartNumberTitleHeight + marginBottom) * 100 / chartTicksContainerHeight)
      }
      // погрешность
      const percentDelta = 2
      const chartScaleValues = this.chartScaleValues()
      const maxSummary = chartScaleValues[0]
      const height = this.tick.value !== 0 ? ((this.tick.value) * 100) / maxSummary : 0
      return chartNumberTitleHeightInPercent + height + percentDelta
    }
  },
  watch: {
    dataset: function () {
      this.chartDataset = this.dataset
      this.calcMaxSummary()
      this.configureBarChart()
      this.configureChartLegend()
      this.configureChartDividingLinesStyle()
      this.configureBarChartInnerTitles()
    }
  },
  data () {
    return {
      columns: {},
      get switchValue () {
        return localStorage.getItem('switchValue')
      },
      barChart: [],
      chartLegend: [],
      showModal: false,
      popupTitles: this.popupLabels,
      /**
       * Массив объектов для графика.
       * Содержит объекты следующего вида:
       * {
       *  title: 'Вне графика',
       *  chart: [300, 0, 1100],
       *  legendColor: ['#264a9d', '#00a122', '#e3e5e6'],
       *  chartColor: ['#264a9d', '#00a122', '#e3e5e6']
       * }
       * @param {string} title - заголовок
       * @param {array} chart - вмещает величины для построения графика,
       * расположенные слева направо (снизу вверх) как должны быть размещены на графике;
       * допускает значение 0
       * @param {array} legendColor - цвета для значений легенды;
       * допускается null
       * @param {array} chartColor - цвета для столбцов графика, соответстуют массиву chart
       * @param {number} badgeTitle - бадж для столбца
       * допускается отсутствие значения
       */
      chartDataset: this.dataset,
      chartHeightWithoutMargins: 0,
      chartDividingLinesStyle: {},
      chartTickStyle: {},
      popupItems: [],
      popupTitle: '',
      maxSummary: 0,
      chartNumberTitleHeight: 0,
      chartTicksContainerHeight: 0,
      xValue: 0,
      yValue: 0,
      indexChart: null
    }
  }
}
</script>

<style scoped>
</style>
