<template>
  <div id="app" class="container" @click="closeAside">
    <div class="wrapper">
      <app-aside
        :activeAside="activeAside"
        @changeActiveAside="activeAside = $event"
        :rcName="rc ? rc.name : ''"
        :urlAdmin="urlAdmin">
      </app-aside>
      <div class="main">
        <router-view :rcName="rc ? rc.name : ''"></router-view>
        <loader :visible="isLoading && !showModal" :size="loaderSize"></loader>
        <popup :closeAction="closePopup"
               v-if="showModal">
          <div slot="header">
            Длительное ожидание ответа
          </div>
          <div slot="body">
            <div class="popup-item">Попробуйте ещё раз</div>
            <red-button>
              <div slot="title" onclick="">ОК</div>
            </red-button>
          </div>
        </popup>
      </div>
    </div>
  </div>
</template>

<script>
import Aside from './components/layout/Aside.vue'
import BasePageMixin from './components/page/mixins/BasePageMixin'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  mixins: [BasePageMixin],
  data () {
    return {
      activeAside: false,
      currentRC: null
    }
  },
  created () {
    this.$store.dispatch('config/getConfig').then((result) => {
      this.logoutTime()
      this.$watch('$route', () => {
        this.setRCfromLocalStorage()
        this.handleTitle()
      }, { immediate: true })
    })
  },
  components: {
    'app-aside': Aside
  },
  methods: {
    logoutTime () {
      clearInterval(this.intervalExits)
      if (this.timer && this.timer > 0) {
        this.intervalExits = setInterval(() =>
          this.$store.dispatch('authority/clearAuthority'), this.timer)
      }
    },
    closeAside: function () {
      this.logoutTime()
      this.activeAside = false
    },
    setRCfromLocalStorage () {
      this.currentRC = localStorage.getItem('currentRC')
    },
    handleTitle () {
      if (this.$route.meta.cell) {
        let cell = ''
        this.$route.query.type === 'free' ? cell = 'Свободные' : cell = 'Заблокированные'
        document.title = `МРМ РЦ ${this.currentRC} - ${cell} ${this.$route.meta.title}` || 'Загрузка'
      } else {
        document.title = `МРМ РЦ ${this.currentRC} - ${this.$route.meta.title}` || 'Загрузка'
      }
    }
  },
  computed: {
    ...mapGetters('config', {
      urlAdmin: 'urlAdmin',
      rc: 'rc',
      timer: 'timer'
    })
  }
}
</script>

<style lang="sass">
  html, body
    font-family: '5kaSansDesign-Regular', sans-serif
    font-size: $base-font-size
    font-weight: 400
    color: $dark-grey
    background: rgba(255, 255, 255, 1)
    overflow: hidden
    .container
      position: relative
      width: 100%
      max-width: $max-width
      margin: 0 auto
      padding: 15px 0
      .wrapper
        width: 100%
        display: flex
        align-items: stretch
        .main
          width: calc( 100% - 108px )
          height: calc( 100vh - 30px)
          margin-left: 88px
          &>div
            width: 100%
</style>
