<template>
  <aside class="aside" v-on:click="openAside" id="aside" :class="{'openMenu' : activeAside}">
    <div class="aside__top">
      <div class="aside__city">
        <a class="logo">
          <img src="../../assets/img/logo_menu.svg" alt="">
        </a>
        <select class="city full-menu select" v-model="currentRc" name="rcList" @click="stopAside" @change="onChange">
          <option v-for="(item, index) in rcList" :key="index" :value="{ id: item.id, name: item.name }">{{ item.name }}</option>
      </select>
      </div>
      <ul class="aside__menu">
        <li class="aside__menu_li">
          <a href="" class="aside__menu_monitor active"><span class="full-menu">мониторы</span></a>
        </li>
        <li class="aside__menu_li">
          <a href="#" class="aside__menu_incidents"><span class="full-menu">инциденты</span></a>
        </li>
        <li class="aside__menu_li">
          <a :href="urlAdmin + '#/admin/normative' + userName" class="aside__menu_standards"><span class="full-menu">нормативы</span></a>
        </li>
      </ul>
    </div>
    <div class="aside__bottom">
      <a :href="urlAdmin + '#/admin/home'" class="aside__settings"><span class="full-menu">Настройки</span></a>
      <a href="#" class="aside__support"><span class="full-menu">Техническая поддержка</span></a>
    </div>
  </aside>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Aside',
  props: {
    activeAside: Boolean,
    rcName: String,
    urlAdmin: String
  },
  computed: {
    ...mapGetters('authority', ['userName']),

    ...mapGetters('config', {
      rcList: 'rcList'
    }),

    currentRc: {
      get () {
        return this.$store.state.config.currentRc
      },
      set (value) {
        this.$store.commit('config/setCurrentRc', value)
      }
    }
  },
  mounted () {
    this.setAuthorities()
  },
  methods: {
    openAside: function (event) {
      event.stopPropagation()
      if (event && (event.target.tagName !== 'A')) {
        this.$emit('changeActiveAside', !this.activeAside)
      }
    },
    setAuthorities: function () {
      this.$store.dispatch('authority/getAuthority')
    },
    stopAside (event) {
      event.stopPropagation()
    },
    onChange () {
      // update currentRc onServer
      this.$store.dispatch('config/setCurrentRc', {rcId: +this.currentRc.id}).then(() => {
        location.reload()
      })
    }
  }
}
</script>

<style scoped>
</style>
