<template>
  <div class="pill">
    <div class="pill__item"
       :class="dateStartHour < startHour ? type + ' outShift': type"
       :style="pillItemStyle()"
       @click="showPopup()">
      <template v-for="(icon, index) in this.iconClass">
        <div :key="index" class="priority-icon priority-ts"
             :class="pillIconClass(icon, index)"
             :style="pillIconStyle(index)"
        ></div>
      </template>
      <popup :closeAction="closePopup" v-if="showModal">
        <div slot="body">
          <div v-if="in_status_tm" class="popup-item">
            <div class="popup-item__title black">Время в статусе</div>
            <div><div class="popup-item__value" style="color: black">{{in_status_tm}}</div></div>
          </div>
          <div v-if="pl_rec" class="popup-item">
            <div class="popup-item__title black">Паллеты</div>
            <div><div class="popup-item__value" style="color: black">{{pl_rec}}</div></div>
          </div>
        </div>
        <div class="popup-footer" slot="footer">
          <router-link :to="{ name: 'TransportStatus', query: { sk: logStock, gate: gate, company: company, start: start, end: end } }" id="clear-btn">
            <div class="clear-btn">
              Статусы приемки
            </div>
          </router-link>
        </div>
      </popup>
    </div>
  </div>
</template>

<script>
import Popup from '../layout/Popup'

export default {
  name: 'PillItem',
  props: {
    dateNow: Number,
    startHour: Number,
    endHour: Number,
    dateStart: String,
    dateEnd: String,
    type: String,
    item: Object,
    planItem: Object,
    typeMonitor: String,
    itemStatus: Object,
    nightShift: Boolean
  },
  components: {
    Popup
  },
  data () {
    return {
      dateStartHour: '',
      dateStartMinute: '',
      dateEndHour: '',
      dateEndMinute: '',
      showModal: false,
      logStock: '',
      company: '',
      iconClass: [],
      in_status_tm: '',
      pl_rec: null,
      gate: '',
      start: '',
      end: ''
    }
  },
  created () {
    this.dateStartHour = parseInt(new Date(this.dateStart).getHours())
    this.dateStartMinute = parseInt(new Date(this.dateStart).getMinutes())
    this.dateEndHour = parseInt(new Date(this.dateEnd).getHours())
    this.dateEndMinute = parseInt(new Date(this.dateEnd).getMinutes())
    this.logStock = this.typeMonitor === 'schedule' ? this.item.stock_nm : this.item.warehouse
    this.company = this.typeMonitor === 'schedule' ? this.item.company_nm : this.itemStatus.supplier
    this.iconClass = this.planItem.ts_type
    this.in_status_tm = this.planItem.in_status_tm ? this.planItem.in_status_tm : null
    this.pl_rec = this.planItem.pl_rec ? parseInt(this.planItem.pl_rec) : null
    let gateVariable = this.type === 'plan' ? 'gate_number_plan_nm' : 'gate_number_nm'
    this.gate = this.typeMonitor === 'schedule' ? this.itemStatus[gateVariable] : this.item.gate
    this.start = this.planItem.start
    this.end = this.planItem.end
    if (this.nightShift) {
      if (this.dateStartHour > (this.endHour - 12)) this.dateStartHour -= 12
      else this.dateStartHour += 12
      if (this.dateEndHour > (this.endHour - 12)) this.dateEndHour -= 12
      else this.dateEndHour += 12
    }
  },
  methods: {
    closePopup: function () {
      this.showModal = false
      event.stopPropagation()
    },
    showPopup: function () {
      this.showModal = !this.showModal
    },
    pillIconClass: function (icon, index) {
      if (!icon) return ''
      let className = icon
      const iconWidth = 20
      const differenceInMinutes = this.startAndEndDateDiff()
      let widthForIcons = index * iconWidth + iconWidth
      const minDifferenceInMinutes = 30
      this.type === 'fact' && !(differenceInMinutes < minDifferenceInMinutes) && (widthForIcons <= differenceInMinutes) ? className += ' white' : className += ' gray'
      return className
    },
    pillIconStyle: function (index) {
      if (this.dateStartHour >= this.dateNow && this.type === 'fact') {
        return {
          display: `none`
        }
      }
      const differenceInMinutes = this.startAndEndDateDiff()
      const iconWidth = 20
      const iconMargin = 7
      const minDifferenceInMinutes = 30
      const delta = 8
      var right = 5
      if (differenceInMinutes < minDifferenceInMinutes) {
        right -= iconWidth + iconMargin
        if (index > 0) {
          right -= index * (iconWidth + iconMargin)
        }
      } else {
        if (index > 0) {
          let widthForIcons = index * iconWidth + iconWidth + delta
          if (widthForIcons < differenceInMinutes) {
            right += index * (iconWidth + iconMargin)
          } else {
            right = 5
            let countIconOuter = Math.floor((widthForIcons - differenceInMinutes) / iconWidth) + 1
            right -= countIconOuter * (iconWidth + iconMargin)
          }
        }
      }
      return {
        right: `${right}px`
      }
    },
    startAndEndDateDiff: function () {
      const minutesInHour = 60
      const minMinutesCountInPill = 10

      // рассчет разницы для линии текущего часа
      if (this.type === 'fact') {
        var differenceInMinutesForCurrentHour = this.dateNow * minutesInHour
        var differenceInMinutesForEndHour = this.dateEndHour * minutesInHour + this.dateEndMinute
        if (differenceInMinutesForEndHour > differenceInMinutesForCurrentHour) {
          this.dateEndHour = this.dateNow
          this.dateEndMinute = 0
        }
      }

      var differenceInMinutes = (this.dateEndHour *
        minutesInHour + this.dateEndMinute) - (this.dateStartHour * minutesInHour + this.dateStartMinute)
      if (differenceInMinutes < minMinutesCountInPill) { differenceInMinutes = minMinutesCountInPill }

      return differenceInMinutes
    },
    pillMarginLeft: function () {
      const minutesInHour = 60
      const pillLeftMargin = 35
      const pillHeaderWidth = 70

      let widthPillForSingleMinute = pillHeaderWidth / minutesInHour
      let pillMarginLeft = ((this.dateStartHour - this.startHour) *
        minutesInHour + this.dateStartMinute) * widthPillForSingleMinute + pillLeftMargin

      return pillMarginLeft
    },
    pillWidth: function (differenceInMinutes) {
      const minutesInHour = 60
      const pillHeaderWidth = 70

      const minDifferenceInMinutes = 10
      const maxStartMinutes = 50

      var widthPillForSingleMinute = pillHeaderWidth / minutesInHour
      var pillWidth = differenceInMinutes * widthPillForSingleMinute
      if (this.type === 'fact' && this.dateStartHour >= this.dateNow) {
        pillWidth = 0
      }

      if (differenceInMinutes === minDifferenceInMinutes && this.dateStartMinute > maxStartMinutes) {
        this.dateStartMinute = maxStartMinutes
      }

      return pillWidth
    },
    pillItemStyle: function () {
      const differenceInMinutes = this.startAndEndDateDiff(this.type)
      const pillMarginLeft = this.pillMarginLeft()
      const pillWidth = this.pillWidth(differenceInMinutes, this.type)

      const style = {
        marginLeft: `${pillMarginLeft}px`,
        width: `${pillWidth}px`
      }

      return style
    }
  }
}
</script>
