<!--1.1-->
<template>
  <div class="acceptance-chart">
    <header class="header">
      <nav class="breadcrumbs">
        <router-link :to="{ path: '/' }" class="breadcrumbs__link">{{rcName ? rcName + ': ' : ''}} Стартовая </router-link>
        <a href="" class="breadcrumbs__link"
           :style="{ pointerEvents: 'none' }"
        >График приемки по часам</a>
      </nav>
      <app-profile></app-profile>
    </header>
    <div class="menu">
      <menu-graph></menu-graph>
      <filter-menu :activeFilter="activeFilter" @changeActiveFilter="activeFilter = $event"></filter-menu>
    </div>
    <div class="work-area">
      <div class="work-area__header">
        <div class="switch">
          <div class="switch__button" id="button" v-on:click="toggleSwitch()">
            <div class="layer"></div>
            <input id="switchCheckbox" type="checkbox" class="checkbox">
            <div class="knobs">
              <span>Заказы</span>
            </div>
          </div>
        </div>
        <div class="filter-choose">
          <div id="container-tags" class="tags">
             <a v-if="vtechFilter.active" class="tags__item" :class="[vtechFilter.cssClass, {'active': vtechFilter.active}]" @click="showFilterPlan(); toggleVtechFilterStatus()">{{ vtechFilter.text + ' ' + vtechFilter.hours + ' ч.' }}</a>
             <a v-if="lateValueFilter.active" class="tags__item" :class="{'active': lateValueFilter.active}" @click="toggleLTFilterStatus()">{{ lateValueFilter.text }}</a>
            <div v-for="item in activeAccChartAccSchFilters" :key="item.id">
              <a :id="item.id" class="tags__item active" :class="item.cssClass" @click="toggleFilterStatus(item.name)">{{ item.text }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="transport-chart" v-if="horizontalChartDataset.length !== 0 && !isLoading">
        <column-bar-chart :dataset="horizontalChartDataset"
                          :direction="'vertical'"
                          :height="360"
                          :width="'90%'"
                          :scaleStep="5"
                          :visibleSecondValue="false"
                          :popupLabels="popupTitles"
                          :tick="{
                            name: 'Среднее расчетное к приемке по смене',
                            value: averageShift
                          }"
        />
      </div>

      <div class="load-chart">
        <div class="load-chart__wrapper">
          <router-link to="/acceptance-chart/pallets" class="load-chart__head">
            <div class="load-chart__text">Загруженность зоны приемки (Выгруженная + Stage)</div>
            <a href="" class="load-chart__arrow" :style="{ pointerEvents: 'none' }"></a>
          </router-link>
          <div class="load-chart__list_wrapper">
            <div v-if="this.data.hasOwnProperty('load')" class="load-chart__list">
              <div v-for="(chartData, chartIndex) in transportChart" :key="chartIndex" class="load-chart__item">
                <round-chart
                  :height="100"
                  :datasets="[{
                  backgroundColor: [getChartColor(getPercent(chartData))],
                  data: [
                    getPercent(chartData),
                    getPercent(chartData) < 100 ? (100 - getPercent(chartData)) : 0
                  ]
                }]"
                />
                <div :class="`load-chart__img ${imgClasses[chartData.type]}`"></div>
                <div class="load-chart__desc">
                  <div class="load-chart__title">{{ getPercent(chartData) }}%</div>
                  <div class="load-chart__count">{{ chartData.busy | splitNumber }}/{{ chartData.total | splitNumber }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-filter :toggleFilterStatus="toggleFilterStatus" :resetFilters="resetFilters"
                :toggleVtechFilterStatus="toggleVtechFilterStatus" :activeFilter="activeFilter"
                :toggleLTFilterStatus="toggleLTFilterStatus"
                @changeActiveFilter="activeFilter = $event"></app-filter>
  </div>
</template>

<script>
import MenuGraph from '../layout/menu/MenuGraph'
import ChartMixin from './mixins/ChartMixin'
import ColumnBarChart from '../charts/ColumnBarChart.vue'
import Profile from '../Profile'
import FilterMixin from './mixins/FilterMixin'
import { mapGetters } from 'vuex'
import { globalStore } from '../../main.js'

export default {
  name: 'AcceptanceChart',
  mixins: [FilterMixin, ChartMixin],
  components: {
    'menu-graph': MenuGraph,
    'column-bar-chart': ColumnBarChart,
    'app-profile': Profile
  },
  props: {
    rcName: String
  },
  created () {
    this.interval = setInterval(() => this.fetchData(), globalStore.timeIntervalInMilliseconds)
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  async mounted () {
    const switchValueLocalStorage = localStorage.getItem('switchValue')
    const switchCheckbox = document.getElementById('switchCheckbox')
    switchCheckbox.checked = switchValueLocalStorage === 'N'

    this.queryParams = { ...this.queryParams, ts: switchValueLocalStorage }

    this.switchValue = switchValueLocalStorage
  },
  methods: {
    async fetchData () {
      globalStore.isLoading = true
      var queryParams = { ...this.queryParams, ts: localStorage.getItem('switchValue') }
      this.fetchDataFromStore(queryParams)
    },
    fetchDataFromStore: function (queryParams) {
      this.$store.dispatch('acceptanceChart/getFilter', {queryParams}).then(() => {
        this.$store.dispatch('acceptanceChart/getShift').then(() => {
          this.parseData()
          globalStore.isLoading = false
        })
      })
    },
    badgeStyle: function () {
      return 'badge badge-' + Math.abs(this.currentHour) + ' ' + (this.currentHour > 0 ? 'badge__in-time' : 'badge__late')
    },
    toggleSwitch: function () {
      const switchValueLocalStorage = localStorage.getItem('switchValue')
      const toStore = switchValueLocalStorage === 'N' ? 'Y' : 'N'
      localStorage.removeItem('switchValue')
      localStorage.setItem('switchValue', toStore)

      const switchCheckbox = document.getElementById('switchCheckbox')
      switchCheckbox.checked = toStore === 'N'

      this.fetchData()
    },
    showFilterPlan: function () {
      this.$store.dispatch('filterTable/showFilterPlan')
    },
    configurePopupTitles: function () {
      this.popupTitles = this.horizontalChartDataset.map(item => {
        return [
          { text: 'План', color: 'black' },
          { text: 'Факт', color: 'black' },
          {
            text: 'Отставание',
            color: 'red'
          }
        ]
      })
    },
    toggleFilterStatus (name, tagGroup, hours) {
      this.$store.dispatch('filterTable/toggleStatusForFilter', {
        'name': name,
        'hours': hours
      })
    },
    toggleVtechFilterStatus (name, tagGroup) {
      this.$store.dispatch('filterTable/toggleVtechFilterStatus')
    },
    toggleLTFilterStatus () {
      this.$store.dispatch('filterTable/toggleLTFilterStatus')
    },
    parseData () {
      this.cardReceiptChart.data = this.data.hasOwnProperty('cars_receipt_num') ? this.data.cars_receipt_num.data : null
      this.ordersPlannedChart.data = this.data.hasOwnProperty('orders_planned_num') ? this.data.orders_planned_num.data : null
      this.ordersPlannedChart.datalabels = this.data.hasOwnProperty('labels_nm') ? this.data.labels_nm.data : null
      let lag = this.data.hasOwnProperty('lag') ? this.data.lag.data : null

      this.transportChart = this.data.hasOwnProperty('cars_receipt_num') ? this.data.load : null

      this.currentHour = this.data.hasOwnProperty('current_hour') ? this.data.current_hour : null
      this.currentBadge = this.data.hasOwnProperty('current_badge') ? this.data.current_badge : null

      this.averageShift = this.data.hasOwnProperty('average_shift') ? this.data.average_shift : null

      let alertMedium = (this.data.hasOwnProperty('alerts') && this.data.alerts.alertMedium) ? this.data.alerts.alertMedium : null
      let alertHigh = (this.data.hasOwnProperty('alerts') && this.data.alerts.alertHigh) ? this.data.alerts.alertHigh : null
      let alertCritical = (this.data.hasOwnProperty('alerts') && this.data.alerts.alertCritical) ? this.data.alerts.alertCritical : null
      const shiftHours = this.shift
      let labels = ['<div class="hour previous-hour">Хвосты</div>']

      shiftHours.forEach((item) => {
        let timeString = item < 10 ? `0${item}:00` : `${item}:00`

        let divTitle = ''

        if (item === parseInt(this.currentHour)) {
          divTitle += '<div class="alert">' +
            (alertMedium ? `<div class="alert__item">${alertMedium}</div>` : '') +
            (alertHigh ? `<div class="alert__item orange">${alertHigh}</div>` : '') +
            (alertCritical ? `<div class="alert__item red">${alertCritical}</div>` : '') +
          `</div>`
          divTitle += `<div class="hour current-hour">${timeString}</div>`
        } else if (item < this.currentHour) {
          divTitle += `<div class="hour previous-hour">${timeString}</div>`
        } else {
          divTitle += `<div class="hour next-hour">${timeString}</div>`
        }

        labels.push(divTitle)
      })

      labels.push('<div class="hour previous-hour">Вне плана</div>')
      this.labels = labels

      if (this.data.hasOwnProperty('orders_planned_num')) {
        this.horizontalChartDataset = this.data.orders_planned_num.data.map((plannedNum, index, array) => {
          let lagItem = lag[index]
          let sumDiffFact = this.data.cars_receipt_num.data[index] === undefined ? 0 : this.data.cars_receipt_num.data[index] + lagItem

          let currentHour = ''
          let currentShift = shiftHours[index - 1]
          if (index === 0) {
            currentHour = 'Хвосты'
          } else if (index === array.length - 1) {
            currentHour = 'Вне плана'
          } else {
            currentHour = currentShift < 10 ? `0${currentShift}:00` : `${currentShift}:00`
          }
          return {
            currentTime: currentShift === parseInt(this.currentHour),
            title: labels[index],
            chart: [this.data.hasOwnProperty('cars_receipt_num') ? (this.data.cars_receipt_num.data[index] === undefined ? 0 : this.data.cars_receipt_num.data[index]) : null,
              sumDiffFact, plannedNum],
            legendColor: ['#fff', 'red', 'black'],
            chartColor: ['#264a9d', 'red', '#e3e5e6'],
            badgeTitle: lagItem,
            popupObject: {
              title: currentHour,
              items: [plannedNum, this.data.hasOwnProperty('cars_receipt_num') ? (this.data.cars_receipt_num.data[index] === undefined ? 0 : this.data.cars_receipt_num.data[index]) : null, lagItem]
            }
          }
        })
      }

      this.configurePopupTitles()
    }
  },
  data () {
    return {
      switchValue: null,
      averageShift: 0,
      currentHour: 9,
      currentBadge: 9,
      popupTitles: [],
      labels: [],
      horizontalChartDataset: [],
      imgClasses: {
        suhoj: 'img-suhoj',
        frov: 'img-frov',
        zamoroz: 'img-zamoroz',
        fresh: 'img-fresh',
        alko: 'img-alko',
        alko_sht: 'img-alko-sht',
        prikassa: 'img-prikassa'
      },
      cardReceiptChart: {
        backgroundColor: '#264a9d',
        hoverBackgroundColor: '#264a9d',
        data: [],
        datalabels: {
          anchor: 'end',
          align: 'start',
          color: 'white',
          fontFamily: "'5kaSansDesign-Black'"
        }
      },
      ordersPlannedChart: {
        backgroundColor: '#e3e5e6',
        hoverBackgroundColor: '#e3e5e6',
        data: [],
        datalabels: []
      },
      transportChart: []
    }
  },
  computed: {
    ...mapGetters('filterTable', {
      activeAccChartAccSchFilters: 'activeAccChartAccSchFilters',
      vtechFilter: 'vtechFilter',
      lateValueFilter: 'lateValueFilter'
    }),
    ...mapGetters('acceptanceChart', {
      data: 'data',
      shift: 'shift'
    }),
    isLoading () {
      return globalStore.isLoading
    }
  },
  watch: {
    activeAccChartAccSchFilters: {
      deep: true,
      immediate: true,
      handler: function (newValue, oldValue) {
        // permanent params - switch + lateFilter
        const switchValue = localStorage.getItem('switchValue')
        let value = this.lateValueFilter ? 'Y' : 'N'

        this.activeAccChartAccSchFilters.forEach(element => {
          // if logStorageFilters || statusFilters
          if (element.hasOwnProperty('type')) {
            if (typeof this.queryParams[element.type] === 'string') {
              this.queryParams[element.type] = this.queryParams[element.type].split()
            }
            if (this.queryParams[element.type]) {
              // if element here, non-push
              if (!this.queryParams[element.type].includes(element.name)) {
                this.queryParams[element.type].push(element.name)
              }
            } else {
              this.queryParams[element.type] = element.name
            }
          } else {
          // if prioritetTSFilters || diffTimeFilters
            this.queryParams[element.name] = 'Y'
          }
        })

        this.queryParams = { ...this.queryParams, ts: switchValue, lt: value }

        // Delete from qparams
        // if delete filter
        if (typeof oldValue !== 'undefined' || typeof oldValue !== 'undefined') {
          if (oldValue.length > newValue.length) {
          // set oldValue - diff between oldValue/newValue
            const oldFilter = oldValue.filter(item1 =>
              !newValue.some(item2 => (item2.id === item1.id && item2.name === item1.name)))
            var name = oldFilter[0].name
            var type = oldFilter[0].type
            if (oldFilter) {
            // if not logStorageFilters group
              if (name) {
                delete this.queryParams[name]
              }
              // if logStorageFilters group
              if (type && name) {
              // if old filter is sk && string
                if (typeof this.queryParams.sk === 'string') {
                  delete this.queryParams.sk
                }
                // if old filter is sk && array
                if (Array.isArray(this.queryParams.sk)) {
                // search elem by name & delete it
                  var index = this.queryParams.sk.indexOf(name)
                  if (index !== -1) this.queryParams.sk.splice(index, 1)
                }

                // if sk empty, drop array
                if (this.queryParams.sk.length === 0) {
                  delete this.queryParams.sk
                }
              }
            }
          }
        }
        // if reset filters action = clear qparams, leave default param only
        if (this.activeAccChartAccSchFilters.length === 0) {
          this.queryParams = { ts: switchValue, lt: value }
        }
      }
    },
    vtechFilter: {
      deep: true,
      immediate: true,
      handler: function (vtechFilter) {
        if (vtechFilter.active) {
          this.queryParams = { ...this.queryParams, [vtechFilter.name]: vtechFilter.hours }
        } else {
          delete this.queryParams[vtechFilter.name]
          this.queryParams = { ...this.queryParams }
        }
      }
    },
    lateValueFilter: {
      immediate: true,
      deep: true,
      handler () {
        let value = this.lateValueFilter.active ? 'Y' : 'N'
        this.queryParams = {...this.queryParams, lt: value}
      }
    },
    queryParams: {
      immediate: true,
      deep: true,
      handler () {
        globalStore.isLoading = true
        this.fetchData(this.queryParams)
      }
    }
  }
}
</script>
