<!--1.2-->
<template>
  <div class="acceptance-schedule">
    <header class="header">
      <nav class="breadcrumbs">
        <router-link to="/" class="breadcrumbs__link">{{rcName ? rcName + ': ' : ''}} Стартовая </router-link>
        <a href="" class="breadcrumbs__link"
           :style="{ pointerEvents: 'none' }"
        >График поставок</a>
      </nav>
      <app-profile></app-profile>
    </header>
    <div class="menu">
      <menu-graph></menu-graph>
      <search @fetchData="fetchData"></search>
      <filter-menu :activeFilter="activeFilter" @changeActiveFilter="activeFilter = $event"></filter-menu>
    </div>

    <div class="work-area__header">

      <div class="switch">
        <div class="switch__button" id="button" v-on:click="toggleSwitch()">
          <div class="layer"></div>
          <input id="switchCheckbox" type="checkbox" class="checkbox">
          <div class="knobs schedule">
            <span>Поставщики</span>
          </div>
        </div>
      </div>
      <div class="filter-choose">
        <div class="tags" id="container-tags">
          <a v-if="vtechFilter.active" class="tags__item" :class="[vtechFilter.cssClass, {'active': vtechFilter.active}]" @click="showFilterPlan(); toggleVtechFilterStatus()">{{ vtechFilter.text + ' ' + vtechFilter.hours + ' ч.' }}</a>
          <div v-for="item in activeAccChartAccSchFilters" :key="item.id">
            <a :id="item.id" class="tags__item active" :class="item.cssClass" @click="toggleFilterStatus(item.name)">{{ item.text }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="work-area" v-if=" !isSearchResultsEmpty">
      <table v-if="!isLoading" class="table schedule table-schedule">
        <thead>
        <tr class="tr-bottom-line">
          <th class="log-stock">Лог.ск.</th>
          <th class="provider">Поставщик</th>
          <th class="status">Статус</th>
          <th class="time">Время<br>в статусе</th>
          <th class="goal">Ворота</th>
          <th class="pallet">Паллет</th>
          <th class="time-scale scrollbar-none">
            <a v-on:click="scrollBlock(true)" class="time-scale__button button__prev"></a>
            <div class="time-scale__table scrollbar-none" id="time-scale__table">
              <table>
                <tr>
                  <td v-for="(valueHour) in shift" :key="valueHour" v-bind:id="`${valueHour}hour`">
                    <div class="time-scale__table_th">
                      <div :class="timeScaleItemStyle(valueHour)">{{valueHour}}:00</div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <a v-on:click="scrollBlock(false)" class="time-scale__button button__next"></a>
            <div id="current-line"
                 class="current-line"
                 :style="{ height: countRow(gridData) + 'px' }">
            </div>
          </th>
        </tr>
        </thead>
        <tbody class="scroller">
          <template v-for="(item, index) in gridData">
            <template v-for="(status, statusIndex) in statuses">
              <tr v-if="item[status].length > 0"
                  @click="makeActive(index)"
                  v-for="(itemStatus, itemStatusIndex) in item[status]"
                  :key="index + '_st_' + statusIndex + '_' + itemStatusIndex"
                  :class="{ 'tr-active': index == selectedRow }">
                <template v-if="checkPlanFact(itemStatusIndex, item.plan.length, status)">
                  <td :rowspan="countRowspan(item.plan.length, item.fact.length)" class="log-stock">
                    <div :class="item.stock_nm"/>
                   </td>
                  <td :rowspan="countRowspan(item.plan.length, item.fact.length)" class="provider">
                    {{ item.company_nm }}
                  </td>
                  <td :rowspan="countRowspan(item.plan.length, item.fact.length)" class="status">
                    {{ item.status_name_nm | dash }}
                  </td>
                </template>
                <td class="kind time">
                  <div class="nowrap">
                  <span class="kind-time">{{status == 'plan' ? 'план' : 'факт'}}</span>
                  {{ nullable(itemStatus, 'in_status_tm') }}
                  </div>
                </td>
                <td class="goal">{{ nullable(itemStatus, (status === 'plan' ? 'gate_number_plan_nm' : 'gate_number_nm')) }}</td>
                <td class="pallet">{{ nullable(itemStatus, (status === 'plan' ? 'plan_pl_qty_num' : 'pl_rec_num')) }}</td>
                <td class="scrollbar-none scheme-time pill-click">
                  <div :class="status + '-time'" class="scrollbar-none">
                    <div class="pill-wrapper">
                      <pill-item v-for="(planItem, indexPill) in timeLine(itemStatus)" :key="indexPill"
                        :dateNow="dateNow"
                        :startHour="shiftStartHour"
                        :endHour="shiftEndHour"
                        :dateStart="dateStart(planItem, 'start')"
                        :dateEnd="dateEnd(planItem, 'end')"
                        :type="status"
                        :typeMonitor="'schedule'"
                        :item="item"
                        :planItem="planItem"
                        :itemStatus="itemStatus"
                        :nightShift="nightShift"
                      ></pill-item>
                    </div>
                  </div>
                </td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
    <div v-else class="not-found">
      <div class="not-found__text">
        Ничего не найдено. Измените условие и повторите поиск
      </div>
    </div>
    <app-filter :toggleFilterStatus="toggleFilterStatus" :resetFilters="resetFilters"
                :toggleVtechFilterStatus="toggleVtechFilterStatus" :activeFilter="activeFilter"
                @changeActiveFilter="activeFilter = $event"></app-filter>
  </div>
</template>

<script>
import FilterMixin from './mixins/FilterMixin'
import RowSelectionMixin from './mixins/RowSelectionMixin'
import PillMixin from './mixins/PillMixin'
import { mapGetters } from 'vuex'
import { globalStore } from '../../main.js'

export default {
  name: 'AcceptanceSchedule',
  mixins: [FilterMixin, RowSelectionMixin, PillMixin],
  data () {
    return {
      statuses: ['plan', 'fact']
    }
  },
  props: {
    rcName: String
  },
  created () {
    this.interval = setInterval(() => this.fetchData(), globalStore.timeIntervalInMilliseconds)
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  methods: {
    checkPlanFact (index, planCount, status) {
      return index === 0 && (status === 'plan' || (status === 'fact' && planCount === 0))
    },
    countRowspan (planCount, factCount) {
      if (planCount === 0 && factCount === 0) {
        return 1
      } else {
        return factCount + planCount
      }
    },
    nullable (value, property) {
      if (value && value[property]) return value[property]
      return '-'
    },
    toggleSwitch: function () {
      setTimeout(() => {
        this.$router.push('/acceptance-schedule/gate')
      }, 200)
    },
    countRow: function (gridData) {
      var count = 0
      let heightRow = 35
      let heightHead = 12
      if (gridData) {
        if (gridData.length) {
          for (var i = 0; i < gridData.length; i++) {
            count += (gridData[i].fact.length > 0 ? gridData[i].fact.length : 1) + (gridData[i].plan.length > 0 ? gridData[i].plan.length : 1)
          }
        }
        count = count * heightRow + heightHead
      }

      return count
    },
    async fetchData (params) {
      globalStore.isLoading = true
      if (typeof params !== 'undefined') {
        if (params.s) {
          this.queryParams['s'] = params.s
          this.queryParams['isPLU'] = params.isPLU
        }
        // drop search string from params if empty
        if (params.s === '' || params === '') {
          delete this.queryParams['s']
          delete this.queryParams['isPLU']
        }
      }
      var queryParams = { ...this.queryParams }
      this.$store.dispatch('acceptanceSchedule/getFilter', { queryParams }).then(() => {
        this.$store.dispatch('acceptanceSchedule/getShift').then(() => {
          this.parseData()
          this.gridData = this.data.gridData
          globalStore.isLoading = false
        })
      })
    },
    toggleFilterStatus (name, tagGroup, hours) {
      this.$store.dispatch('filterTable/toggleStatusForFilter', {
        'name': name,
        'hours': hours
      })
    },
    toggleVtechFilterStatus (name, tagGroup) {
      this.$store.dispatch('filterTable/toggleVtechFilterStatus')
    },
    resetFilters (name) {
      this.$store.dispatch('filterTable/resetFilters', {
        'name': name
      })
    },
    showFilterPlan: function () {
      this.$store.dispatch('filterTable/showFilterPlan')
    }
  },
  computed: {
    filteredItems: function () {
      return this.items.slice(9, 21)
    },
    ...mapGetters('filterTable', {
      activeAccChartAccSchFilters: 'activeAccChartAccSchFilters',
      vtechFilter: 'vtechFilter'
    }),
    ...mapGetters('acceptanceSchedule', {
      data: 'data',
      shift: 'shift'
    }),
    ...mapGetters(['isSearchResultsEmpty']),

    isLoading: function () {
      return globalStore.isLoading
    }
  },
  watch: {
    activeAccChartAccSchFilters: {
      deep: true,
      immediate: true,
      handler: function (newValue, oldValue) {
        this.activeAccChartAccSchFilters.forEach(element => {
        // if vtech filter
          if (element.hasOwnProperty('hours')) {
            this.queryParams[element.name] = element.hours
          } else if (element.hasOwnProperty('type')) { // if logStorageFilters || statusFilters
            if (typeof this.queryParams[element.type] === 'string') {
              this.queryParams[element.type] = this.queryParams[element.type].split()
            }
            if (this.queryParams[element.type]) {
              // if element here, non-push
              if (!this.queryParams[element.type].includes(element.name)) {
                this.queryParams[element.type].push(element.name)
              }
            } else {
              this.queryParams[element.type] = element.name
            }
          } else {
          // if prioritetTSFilters || diffTimeFilters
            this.queryParams[element.name] = 'Y'
          }
        })
        this.queryParams = { ...this.queryParams }

        // Delete from qparams
        // if delete filter
        if (typeof oldValue !== 'undefined' || typeof oldValue !== 'undefined') {
          if (oldValue.length > newValue.length) {
          // set oldValue - diff between oldValue/newValue
            const oldFilter = oldValue.filter(item1 =>
              !newValue.some(item2 => (item2.id === item1.id && item2.name === item1.name)))
            var name = oldFilter[0].name
            var type = oldFilter[0].type
            if (oldFilter) {
            // if not logStorageFilters group
              if (name) {
                delete this.queryParams[name]
              }
              // if logStorageFilters group
              if (type && name) {
              // if old filter is sk && string
                if (typeof this.queryParams.sk === 'string') {
                  delete this.queryParams.sk
                }
                if (typeof this.queryParams.sh === 'string') {
                  delete this.queryParams.sh
                }
                // if old filter is sk && array
                if (Array.isArray(this.queryParams.sk)) {
                // search elem by name & delete it
                  let index = this.queryParams.sk.indexOf(name)
                  if (index !== -1) this.queryParams.sk.splice(index, 1)
                }
                if (Array.isArray(this.queryParams.sh)) {
                  // search elem by name & delete it
                  let indexSh = this.queryParams.sh.indexOf(name)
                  if (indexSh !== -1) this.queryParams.sh.splice(indexSh, 1)
                }
                // if sk empty, drop array
                if (this.queryParams.sk && this.queryParams.sk.length === 0) {
                  delete this.queryParams.sk
                }
                if (this.queryParams.sh && this.queryParams.sh.length === 0) {
                  delete this.queryParams.sh
                }
              }
            }
          }
        }
        // if reset filters action = clear qparams, leave default param only
        if (this.activeAccChartAccSchFilters.length === 0) {
          this.queryParams = {}
        }
      }
    },
    vtechFilter: {
      deep: true,
      immediate: true,
      handler: function (vtechFilter) {
        if (vtechFilter.active) {
          this.queryParams = { ...this.queryParams, [vtechFilter.name]: vtechFilter.hours }
        } else {
          delete this.queryParams[vtechFilter.name]
          this.queryParams = { ...this.queryParams }
        }
      }
    },
    queryParams: {
      immediate: true,
      deep: true,
      handler () {
        this.fetchData()
      }
    },
    /**
     * Следим за состоянием отрисовки графика времени
     */
    isPlanTimeLoad (val) {
      if (val) {
        // если таблица отрисована позиционируем элементы в зависимости от времени
        this.updateTimeLine()
      }
    }
  },
  updated () {
    this.isPlanTimeLoad = !!document.getElementsByClassName('plan-time').length
    this.disableScrollOnPillContainer('plan-time scrollbar-none')
    this.disableScrollOnPillContainer('fact-time scrollbar-none')
    this.resizeColumnTable()
  }
}
</script>
