<!--2.1.1-->
<template>
  <div class="free-tier-cells">
    <header class="header">
      <nav class="breadcrumbs">
        <a href="" class="breadcrumbs__link">{{rcName ? rcName + ': ' : ''}} Стартовая</a>
        <router-link class="breadcrumbs__link" :to="{ path: '/occupancy-tiers' }">
          Размещение и хранение
        </router-link>
        <a href="" class="breadcrumbs__link"
           :style="{ pointerEvents: 'none' }"
        >{{ cellType }} ячейки в ярусах</a>
      </nav>
      <app-profile></app-profile>
    </header>
    <div class="menu">
      <div class="title">{{ cellType }} ячейки</div>
      <div class="filter__status">
        <div class="status_dot"></div>
        <div class="status_item">
          Онлайн
        </div>
        <div class="status_descr">
          по состоянию на {{ currentTime }}
        </div>
      </div>
    </div>
    <div class="work-area">
      <div v-for="tierData in gridData" :key="tierData.header" class="table-wrapper">
        <p class="table-title">Ярус {{ tierData.header }}</p>
        <table class="table table-tier">
          <thead>
            <tr class="tr-bottom-line">
              <th>
                <sort-table-header
                  v-model="tierData.data"
                  sortKey="row"
                  :currentSort="tierData.currentSort"
                  :sortDirParent="'asc'"
                  @sorted="tierData.currentSort='row'"
                >
                  <div slot="text">Ряд</div>
                  <a slot="arrow" class="sort-column__arrow" ></a>
                </sort-table-header>
              </th>
              <th>
                <sort-table-header
                  v-model="tierData.data"
                  sortKey="volume"
                  :currentSort="tierData.currentSort"
                  @sorted="tierData.currentSort='volume'"
                >
                  <div slot="text">V, м³</div>
                  <a slot="arrow" class="sort-column__arrow" ></a>
                </sort-table-header>
              </th>
              <th>
                <sort-table-header
                  v-model="tierData.data"
                  sortKey="cell_value"
                  :currentSort="tierData.currentSort"
                  @sorted="tierData.currentSort='cell_value'"
                >
                  <span slot="text">Вес. кат, кг</span>
                  <a slot="arrow" class="sort-column__arrow"></a>
                </sort-table-header>
              </th>
              <th>Ячейка</th>
            </tr>
          </thead>
          <tbody class="scroller">
            <tr v-for="(rowData, rowIndex) in tierData.data" :key="rowIndex" @click="makeActive(rowIndex)" :class="{ 'tr-active': rowIndex == selectedRow }">
              <td>{{ rowData.row }} ряд</td>
              <td>{{ rowData.volume }}</td>
              <td>{{ rowData.cell_value | pretty_num | splitNumber}}</td>
              <td>{{ rowData.cell | tiersCell }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="empty"></div>
    </div>
  </div>
</template>

<script>
import PageMixin from './mixins/PageMixin'
import SortTableHeader from '../layout/SortTableHeader'
import RowSelectionMixin from './mixins/RowSelectionMixin'
import { mapGetters } from 'vuex'
import { globalStore } from '../../main.js'

export default {
  name: 'FreeTierCells',
  mixins: [PageMixin, RowSelectionMixin],
  components: {
    SortTableHeader
  },
  props: {
    rcName: String
  },
  created () {
    this.interval = setInterval(() => this.fetchData(), globalStore.timeIntervalInMilliseconds)
  },
  data () {
    return {
      cellType: ''
    }
  },
  updated () {
    this.setCellType()
  },
  beforeDestroy () {
    let cellType = localStorage.getItem('cellType')
    if (cellType) {
      localStorage.removeItem(cellType)
    }
    clearInterval(this.interval)
  },
  filters: {
    pretty_num: function (value) {
      if (value === 0) return '000'
      if (value < 10) return '00' + value
      if (value < 100) return '0' + value
      return value
    }
  },
  computed: {
    sortedGridData: function () {
      return [...this.gridData].sort((a, b) => {
        let modifier = 1
        if (this.currentSortDir === 'desc') modifier = -1
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier
        return 0
      })
    },
    ...mapGetters('filterTable', {
      activetempZoneFilters: 'activetempZoneFilters'
    }),
    ...mapGetters('freeTierCells', {
      gridData: 'gridData'
    })
  },
  methods: {
    setCellType () {
      this.cellType = localStorage.getItem('cellType')
    },
    fetchData (keywords) {
      this.queryParams.occupancy = 'tiers'
      this.queryParams.type = this.$route.query.type
      this.queryParams.ak = this.$route.query.ak
      this.queryParams.nr = this.$route.query.nr
      this.queryParams.ny = this.$route.query.ny

      globalStore.isLoading = true
      if (keywords) {
        this.queryParams['s'] = keywords
      }
      var queryParams = { ...this.queryParams }
      this.$store.dispatch('freeTierCells/getFilter', { queryParams }).then(() => {
        globalStore.isLoading = false
      })
    }
  }
}
</script>
