<!--2.2-->
<template>
  <div class="occupancy-categories">
    <header class="header">
      <nav class="breadcrumbs">
        <a href="" class="breadcrumbs__link">{{rcName ? rcName + ': ' : ''}} Стартовая</a>
        <a href="" class="breadcrumbs__link"
           :style="{ pointerEvents: 'none' }"
        >Размещение и хранение</a>
      </nav>
      <app-profile></app-profile>
    </header>
    <div class="menu">
      <menu-graph></menu-graph>
      <search></search>
      <filter-menu :activeFilter="activeFilter" @changeActiveFilter="activeFilter = $event"></filter-menu>
    </div>
    <div class="work-area">
      <div class="work-area__header">
        <div class="switch">
          <div class="switch__button" id="button" v-on:click="toggleSwitch()">
            <div class="layer"></div>
            <input id="switchCheckbox" type="checkbox" class="checkbox" v-model="isSwichTiers" />
            <div class="knobs">
              <span>Вес.категории</span>
            </div>
          </div>
        </div>
        <div class="filter-choose">
          <div class="tags" id="container-tags" >
            <div v-for="item in activeFilters" :key="item.id">
              <a :id="item.id" class="tags__item active" :class="item.cssClass" @click="toggleFilterStatus(item.name)">{{ item.text }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex_container"
           :style="activeFilters.length > 0 ? activeFilters.length === 7 ?  { height: 'calc(100% - 94px)'} : { height: 'calc(100% - 47px)'} : ''">
        <div class="table-wrapper">
          <table class="table table-categories" :style="headerList.length < 8 ? {'width': '100%' } : ''">
            <thead>
            <tr class="tr-bottom-line">
              <th class="tr-bottom-line first-column" rowspan="3">Зона/ряд</th>
              <th :colspan="categoriesNum*2" class="table-categories__first-line"></th>
            </tr>
            <tr class="tr-bottom-line__clear">
              <th v-for="(category, index) in headerList" :key="`t_${index}`" colspan="2">
                {{ category }} кг
              </th>
            </tr>
            <tr class="tr-bottom-line">
              <template v-for="categoryIndex in categoriesNum">
                <td :key="`${categoryIndex}_1`" >
                  своб. % занято
                </td>
                <td :key="`${categoryIndex}_2`" >
                  заблок. % занято
                </td>
              </template>
            </tr>
            </thead>
            <tbody class="scroller">
            <template v-for="(zoneData, zoneIndex) in gridData">
              <tr :key="`zone_${zoneIndex}`" class="tr-line" @click="makeActive(zoneIndex)" :class="{ 'tr-active': zoneIndex == selectedRow }">
                <td @click="toggleChildren(zoneIndex)" class="first-column" :style="headerList.length < 8 ? {'width': '4%' } : ''">
                  <div class="adg-cold">
                    <div class="tree-button">
                      <div v-if="opendZones.includes(zoneIndex)">-</div>
                      <div v-else>+</div>
                    </div>
                    <div :class="getCategoryClass(zoneData.zone)"></div>
                  </div>
                </td>
                <template v-for="(categoryData, categoryDataIndex) in zoneData.categories">
                  <td :key="`z_${zoneIndex}_cat_${categoryDataIndex}`"
                      @click.native="setCellType('Свободные')"
                      @click="categoryData.free && categoryData.free.value ? hrefTransport(zoneData.zone, categoryData.header) : false"
                      :class="categoryData.free && categoryData.free.value ? 'row-number-link' : ''"
                      :style="headerList.length < 8 ? {'width': '4%' } : ''">
                    <div class="td-line-elements" v-if="categoryData.free">
                      <div :class="categoryData.free.value ? 'td-href' : 'td-non-link'">
                        {{ categoryData.free.value | splitNumber}}
                      </div>
                      <div
                        class="td-font"
                        :class="categoryData.free.percent ? getColorClass(categoryData.free.percent) : ''"
                      >
                        {{ categoryData.free.percent }} %
                      </div>
                    </div>
                    <div v-else>-</div>
                  </td>
                  <td :key="`z_${zoneIndex}_${categoryDataIndex}_lock`" :style="headerList.length < 8 ? {'width': '4%' } : ''">
                    <div class="td-line-elements" v-if="categoryData.lock">
                      <div class="td-non-link"> {{ categoryData.lock.value }} </div>
                      <div
                        class="td-font"
                        :class="categoryData.lock.percent ? getColorClass(categoryData.lock.percent) : ''"
                      >
                        {{ categoryData.lock.percent }} %
                      </div>
                    </div>
                    <div v-else>-</div>
                  </td>
                </template>
              </tr>
              <tr v-show="opendZones.includes(zoneIndex)"
                  v-for="(rowData, zoneIndexChild) in zoneData.children"
                  :key="`zone_${zoneIndex}_${zoneIndexChild}`"
                  class="row-child"
                  :class="{ 'tr-active': zoneIndex == selectedRow }">
                <td class="first-column">
                  {{ rowData.row }} ряд
                </td>
                <template v-for="(categoryData, catIndex) in rowData.categories">
                  <td :key="`z_${zoneIndex}_r_${rowData.row}_с_${catIndex}_f`"
                      @click.native="setCellType('Свободные')"
                      @click="categoryData.free && categoryData.free.value ? hrefTransport(zoneData.zone, categoryData.header, rowData.row) : false"
                      :class="categoryData.free && categoryData.free.value ? 'row-number-link' : ''">
                    <div class="td-line-elements" v-if="categoryData.free">
                      <div :class="categoryData.free.value ? 'td-href' : 'td-non-link'">
                          {{ categoryData.free.value | splitNumber }}
                      </div>
                      <div
                        class="td-font"
                        :class="getColorClass(categoryData.free.percent)"
                      >
                        {{ categoryData.free ? categoryData.free.percent : '' }} %
                      </div>
                    </div>
                    <div v-else>-</div>
                  </td>
                  <td :key="`z_${zoneIndex}_r_${rowData.row}_с_${catIndex}_l`">
                    <div class="td-line-elements"  v-if="categoryData.lock">
                      <div class="td-non-link"> {{ categoryData.lock.value | splitNumber}} </div>
                      <div
                        class="td-font"
                        :class="getColorClass(categoryData.lock.percent)"
                      >
                        {{ categoryData.lock ? categoryData.lock.percent : '' }} %
                      </div>
                    </div>
                    <div v-else>-</div>
                  </td>
                </template>
              </tr>
            </template>
            </tbody>
          </table>
          <div class="empty"></div>
        </div>
        <div class="load-chart">
          <div class="load-chart__head">
            <div class="load-chart__text">Температурная зона</div>
          </div>
          <div class="load-chart__list_wrapper" v-if="charts.length !== 0">
            <div class="load-chart__list">
              <div v-for="(chartData, chartIndex) in charts" :key="chartIndex" class="load-chart__item">
                <round-chart
                  :height="100"
                  :datasets="[{
                  backgroundColor: [getChartColor(getPercent(chartData))],
                  data: [
                    getPercent(chartData),
                    getPercent(chartData) < 100 ? (100 - getPercent(chartData)) : 0
                  ]
                }]"
                />
                <div :class="`load-chart__img ${imgClasses[chartData.type]}`"></div>
                <div class="load-chart__desc">
                  <div class="load-chart__title">{{ getPercent(chartData) }}%</div>
                  <div class="load-chart__count">{{ chartData.busy | splitNumber }}/{{ chartData.total | splitNumber }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-filter
      :currentTime="currentTime"
      :toggleFilterStatus="toggleFilterStatus"
      :resetFilters="resetFilters"
      :activeFilter="activeFilter"
      @changeActiveFilter="activeFilter = $event"
    />
  </div>
</template>

<script>
import PageMixin from './mixins/PageMixin'
import RowSelectionMixin from './mixins/RowSelectionMixin'
import ChartMixin from './mixins/ChartMixin'
import { mapGetters } from 'vuex'
import { setTimeout } from 'timers'
import { globalStore } from '../../main.js'

export default {
  name: 'OccupancyCategories',
  mixins: [PageMixin, RowSelectionMixin, ChartMixin],
  props: {
    rcName: String
  },
  created () {
    this.interval = setInterval(() => this.fetchData(), globalStore.timeIntervalInMilliseconds)
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  updated () { this.resizeColumnTable(true) },
  data () {
    return {
      categoriesNum: 0,
      opendZones: [],
      isSwichTiers: false,
      imgClasses: {
        suhoj: 'img-suhoj',
        frov: 'img-frov',
        zamoroz: 'img-zamoroz',
        fresh: 'img-fresh',
        alko: 'img-alko',
        alko_sht: 'img-alko-sht',
        prikassa: 'img-prikassa'
      },
      tagGroups: ['logStorageFilters']
    }
  },
  methods: {
    setCellType (type) {
      localStorage.setItem('cellType', type)
    },
    toggleSwitch () {
      setTimeout(() => {
        this.$router.push('occupancy-tiers')
      }, 200)
    },
    toggleChildren (zoneIndex) {
      let position = this.opendZones.findIndex((el) => {
        return el === zoneIndex
      })
      if (position > -1) {
        this.opendZones.splice(position, 1)
      } else {
        this.$set(this.opendZones, this.opendZones.length, zoneIndex)
      }
    },
    fetchData (keywords) {
      this.queryParams.occupancy = 'categories'
      globalStore.isLoading = true
      if (keywords) {
        this.queryParams['s'] = keywords
      }
      var queryParams = { ...this.queryParams }
      this.$store.dispatch('occupancyCategories/getCharts', { queryParams })
      this.$store.dispatch('occupancyCategories/getHeaders', { queryParams })
      this.$store.dispatch('occupancyCategories/getZones', { queryParams }).then(() => {
        this.categoriesNum = this.headerList.length
        globalStore.isLoading = false
      })
    },
    toggleFilterStatus: function (name, tagGroup) {
      this.$store.dispatch('filterTable/toggleStatusForFilter', {
        'name': name
      })
    },
    hrefTransport (zone, header, row) {
      this.$router.push({
        name: 'FreeCategoryCells',
        query: {
          type: 'free',
          ak: zone,
          ny: header,
          nr: row
        }
      })
    }
  },
  computed: {
    ...mapGetters('filterTable', {
      activeFilters: 'activeFilters'
    }),
    ...mapGetters('occupancyCategories', {
      gridData: 'gridData',
      charts: 'charts',
      headerList: 'headerList'
    })
  },
  watch: {
    // reset selected row when filter is choosen/active
    activeFilters (newValue) {
      this.selectedRow = -1
    }
  }
}
</script>
