<!--1.1.1-->
<template>
  <div class="pallets">
    <header class="header">
      <nav class="breadcrumbs">
        <router-link to="/" class="breadcrumbs__link">{{rcName ? rcName + ': ' : ''}} Стартовая </router-link>
        <router-link to="/acceptance-chart" class="breadcrumbs__link"> График приемки по часам </router-link>
        <a href="" class="breadcrumbs__link"
           :style="{ pointerEvents: 'none' }"
        >Паллет в STAGE</a>
      </nav>
      <app-profile></app-profile>
    </header>
    <div class="menu">
      <menu-graph></menu-graph>
      <search @fetchData="fetchData"></search>
      <filter-menu :activeFilter="activeFilter" @changeActiveFilter="activeFilter = $event"></filter-menu>
    </div>
    <div class="filter-choose">
      <div class="tags" id="container-tags" >
        <div v-for="item in activeHomeFilters" :key="item.id">
          <a :id="item.id" class="tags__item active" :class="item.cssClass" @click="toggleFilterStatus(item.name)">{{ item.text }}</a>
        </div>
      </div>
    </div>
    <div class="work-area" v-if=" !isSearchResultsEmpty">
      <div class="modal-mask" v-if="showSortPopup" @click="closeSortPopup()"></div>
      <table class="table table-pallets striped">
          <thead>
              <tr class="tr-bottom-line">
                  <th>№</th>
                  <th>Лог. Склад</th>
                  <th>Ворота</th>
                  <th>Ячейка</th>
                  <th>PLU</th>
                  <th>Наименование товара</th>
                  <th>ID паллеты</th>
                  <th>ФИО оператора приемки</th>
                  <th>Шоу-боксов</th>
                  <th class="sort-column">
                    <div class="sort-column__container">
                      <div class="container_text" @click="toggle('open', 'vreceipt', '')">
                        Принято
                      </div>
                      <div class="container_arrow">
                        <a
                          class="sort-column__arrow"
                          :class="{'asc' : filters.vreceipt.status.asc,
                          'active': filters.vreceipt.status.asc || filters.vreceipt.status.desc,
                          'disabled' : sortedGridData.length === 0}"
                          href="javascript:"
                          @click="toggle('open', 'vreceipt', '')"
                        ></a>
                      </div>
                    </div>
                    <div
                      class="sort"
                      v-show="filters.vreceipt.open"
                    >
                      <div class="sort__parameters">
                        <div class="sort__parameters_item" :class="{'empty-sort' : !filters.vreceipt.status.desc}">
                          <input
                            type="radio"
                            id="plan_status_1"
                            name="plan_status_in_tm"
                            @click="toggle('check', 'vreceipt', 'minus'); sort('receipt', 'desc'); changeStatusSort('vreceipt', 'desc', 'asc')"
                            :checked="filters.vreceipt.value == 'minus' ? true : false "
                          >
                          <label for="plan_status_1">По убыванию</label>
                        </div>
                        <div class="sort__parameters_item" :class="{'empty-sort' : !filters.vreceipt.status.asc}">
                          <input
                            type="radio"
                            id="plan_status_2"
                            name="plan_status_in_tm"
                            @click="toggle('check', 'vreceipt', 'plus'); sort('receipt', 'asc'); changeStatusSort('vreceipt', 'asc', 'desc')"
                            :checked="filters.vreceipt.value == 'plus' ? true : false"
                          >
                          <label for="plan_status_2">По возрастанию</label>
                        </div>
                      </div>
                    </div>
                  </th>
                  <th class="sort-column">
                    <div class="sort-column__container">
                      <div class="container_text" @click="toggle('open', 'vstage_value', '')">
                        <div>Находится в Stage</div>
                      </div>
                      <div class="container_arrow">
                        <a
                          class="sort-column__arrow stage_value"
                          :class="{'asc' : filters.vstage_value.status.asc,
                          'active': filters.vstage_value.status.asc || filters.vstage_value.status.desc,
                          'disabled' : sortedGridData.length === 0}"
                          href="javascript:"
                          @click="toggle('open', 'vstage_value', '')"
                        ></a>
                      </div>
                    </div>
                    <div
                      class="sort"
                      v-show="filters.vstage_value.open"
                    >
                      <div class="sort__parameters">
                        <div class="sort__parameters_item" :class="{'empty-sort' : !filters.vstage_value.status.desc}">
                          <input
                            type="radio"
                            id="vstage_value_1"
                            name="plan_status_in_tm"
                            @click="toggle('check', 'vstage_value', 'minus'); sort('stage_value', 'desc'); changeStatusSort('vstage_value', 'desc', 'asc')"
                            :checked="filters.vstage_value.value == 'minus' ? true : false "
                          >
                          <label for="vstage_value_1">По убыванию</label>
                        </div>
                        <div class="sort__parameters_item" :class="{'empty-sort' : !filters.vstage_value.status.asc}">
                          <input
                            type="radio"
                            id="vstage_value_2"
                            name="plan_status_in_tm"
                            @click="toggle('check', 'vstage_value', 'plus'); sort('stage_value', 'asc'); changeStatusSort('vstage_value', 'asc', 'desc')"
                            :checked="filters.vstage_value.value == 'plus' ? true : false"
                          >
                          <label for="vstage_value_2">По возрастанию</label>
                        </div>
                      </div>
                    </div>
                  </th>
              </tr>
          </thead>
          <tbody class="scroller">
              <tr v-for="(rowData, index) in sortedGridData" :key="index"
                  @click="makeActive(index)"
                  :class="{ 'tr-active': index == selectedRow }"
              >
                  <td>{{ index + 1 }}</td>
                  <td>
                    <div :class="getCategoryClass(rowData.category)"></div>
                  </td>
                  <td>{{ rowData.gate | dash }}</td>
                  <td>{{ rowData.cell | dash }}</td>
                  <td>{{ rowData.plu | dash }}</td>
                  <td>{{ rowData.name | dash }}</td>
                  <td>{{ rowData.id | dash }}</td>
                  <td>{{ rowData.operator_name | dash }}</td>
                  <td>{{ rowData.box_count | dash }}</td>
                  <td>{{ rowData.receipt | dash }}</td>
                  <td>
                    {{ rowData.stage_value | dash }}
                    <div :class="`alert__image ${rowData.stage_alert}`"></div
                  ></td>
              </tr>
          </tbody>
      </table>
    </div>
    <div v-else class="not-found">
      <div class="not-found__text">
        Ничего не найдено. Измените условие и повторите поиск
      </div>
    </div>
    <app-filter
      :currentTime="currentTime"
      :toggleFilterStatus="toggleFilterStatus"
      :resetFilters="resetFilters"
      :activeFilter="activeFilter"
      @changeActiveFilter="activeFilter = $event"
    />
  </div>
</template>

<script>
import PageMixin from './mixins/PageMixin'
import RowSelectionMixin from './mixins/RowSelectionMixin'
import SortTableHeader from '../layout/SortTableHeader'
import { globalStore } from '../../main.js'
import { mapGetters } from 'vuex'

export default {
  name: 'Pallets',
  mixins: [PageMixin, RowSelectionMixin],
  components: {
    SortTableHeader
  },
  props: {
    rcName: String
  },
  data () {
    return {
      tagGroups: ['logStorageFilters'],
      showSortPopup: false,
      filters: {
        vreceipt: {
          open: false,
          value: 'plus',
          status: {
            asc: false,
            desc: false
          }
        },
        vstage_value: {
          open: false,
          value: null,
          status: {
            asc: false,
            desc: false
          }
        }
      },
      currentSort: 'name',
      currentSortDir: 'asc'
    }
  },
  methods: {
    async fetchData (params) {
      globalStore.isLoading = true
      if (typeof params !== 'undefined') {
        if (params.s) {
          this.queryParams['s'] = params.s
          this.queryParams['isPLU'] = params.isPLU
        }
        // drop search string from params if empty
        if (params.s === '' || params === '') {
          delete this.queryParams['s']
          delete this.queryParams['isPLU']
        }
      }
      var queryParams = { ...this.queryParams }
      this.$store.dispatch('pallets/getFilter', { queryParams }).then(() => {
        globalStore.isLoading = false
      })
    },
    toggle: function (action, namePar, value) {
      if (action === 'open') {
        this.showSortPopup = !this.showSortPopup
        for (var el in this.filters) {
          this.filters[el].open = false // open
        }
        if (!this.filters[namePar].open) {
          this.filters[namePar].open = true // open
        } else {
          for (el in this.filters) {
            this.filters[el].open = false // open
          }
        }
      } else if (action === 'check') {
        this.showSortPopup = !this.showSortPopup
        for (el in this.filters) {
          this.filters[el].value = null // open
        }
        this.filters[namePar].value = value
        this.filters[namePar].open = false
      }
    },
    sort: function (s, sortDir) {
      this.currentSortDir = sortDir
      this.currentSort = s
    },
    changeStatusSort: function (param, type, reset) {
      for (var el in this.filters) {
        if (this.filters[param].status[type] || this.filters[param].status[reset]) {
          continue
        }
        this.filters[el].status.asc = false // open
        this.filters[el].status.desc = false // open
      }
      this.filters[param].status[type] = !this.filters[param].status[type]
      this.filters[param].status[reset] = false
      if (!this.filters[param].status[type]) {
        this.currentSortDir = 'asc'
        this.currentSort = 'plan_status_in_tm'
        this.filters.vplan_status_in_tm.status.asc = true
        this.filters.vplan_status_in_tm.value = 'plus'
      }
      if (!this.filters[param].status[type] && !this.filters[param].status[reset]) {
        this.filters[param].value = null
      }
    },
    closeSortPopup: function () {
      for (var el in this.filters) {
        this.filters[el].open = false
      }
      this.showSortPopup = false
    }
  },
  created () {
    this.interval = setInterval(() => this.fetchData(), globalStore.timeIntervalInMilliseconds)
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  computed: {
    sortedGridData: function () {
      let modifier = 1
      if (this.currentSort === 'receipt') {
        return [...this.gridData].sort((a, b) => {
          if (this.currentSortDir === 'desc') modifier = -1
          let aValue = this.$moment(a.receipt, 'DD/MM/YYYY h:mm A').format('YYYY-MM-DD[T]HH:mm:ss')
          let bValue = this.$moment(b.receipt, 'DD/MM/YYYY h:mm A').format('YYYY-MM-DD[T]HH:mm:ss')
          if (aValue > bValue) return 1 * modifier
          else if (aValue < bValue) return -1 * modifier
          else return 0
        })
      }
      return [...this.gridData].sort((a, b) => {
        if (this.currentSortDir === 'desc') modifier = -1
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier
        return 0
      })
    },
    ...mapGetters('filterTable', {
      activeHomeFilters: 'activeHomeFilters'
    }),
    ...mapGetters('pallets', {
      gridData: 'gridData'
    }),
    ...mapGetters(['isFetchingSuccess', 'isSearchResultsEmpty'])
  },
  watch: {
    activeHomeFilters: {
      deep: true,
      immediate: true,
      handler: function (activeAccChartAccSchFilters) {
        this.queryParams = {}
        const switchValue = this.switchValue === null ? this.$route.query.switch : (this.switchValue ? this.switchValue : 'Y')
        activeAccChartAccSchFilters.forEach(element => {
          // if logStorageFilters || statusFilters
          if (element.hasOwnProperty('type')) {
            if (typeof this.queryParams[element.type] === 'string') {
              this.queryParams[element.type] = this.queryParams[element.type].split()
            }
            if (this.queryParams[element.type]) {
              this.queryParams[element.type].push(element.name)
            } else {
              this.queryParams[element.type] = element.name
            }
          } else {
            // if prioritetTSFilters || diffTimeFilters
            this.queryParams[element.name] = 'Y'
          }
        })
        this.queryParams = {...this.queryParams, ts: switchValue}
        globalStore.isLoading = true
        this.fetchData()
        globalStore.isLoading = false
      }
    }
  }
}
</script>
