<template>
  <div class="filter-menu">
    <div class="filter-header">
      <a v-on:click="openFilter()" class="filter-header__link" :class="{'active' : selectedFilters || lateValueFilter.active}">Фильтр</a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'FilterMenu',
  data () {
    return {
      selectedFilters: false
    }
  },
  props: {
    activeFilter: Boolean
  },
  methods: {
    openFilter: function () {
      this.$emit('changeActiveFilter', true)
    }
  },
  watch: {
    activeFilters (activeFilters) {
      activeFilters.length > 0 ? this.selectedFilters = true : this.selectedFilters = false
    }
  },
  computed: {
    ...mapGetters('filterTable', {
      activeFilters: 'activeFilters',
      lateValueFilter: 'lateValueFilter'
    })
  }
}
</script>

<style scoped>

</style>
