<template>
  <div>
    <ul class="menu-graph__container">
      <ul class="menu-graph">
        <li><router-link to="/acceptance-chart" class="menu-graph__link">График приемки по часам</router-link></li>
        <li><router-link to="/acceptance-schedule" class="menu-graph__link">График поставок</router-link></li>
        <li><router-link to="/acceptance-status" class="menu-graph__link">Статусы приемки</router-link></li>
        <li><router-link to="/alerts-dashboard" class="menu-graph__link">Алерты</router-link></li>
      </ul>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'MenuGraph'
}
</script>

<style scoped>

</style>
