<template>
  <div class="search">
    <div class="search__switch">
      <div id="button" class="switch__button" @click="toggleSwitch">
        <div class="layer"></div>
        <input id="switchSearchCheckbox" type="checkbox" class="checkbox">
        <div class="knobs">
          <span>По PLU</span>
        </div>
      </div>
    </div>
    <form @submit.prevent class="form">
      <input type="text" :placeholder="placeholder" v-model="keywords" class="input">
      <button type="submit" class="button button-search" @click="getData"></button>
      <button class="button button-clear" @click="clearSearch" v-if="this.keywords"></button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Search',
  props: {
    fetchData: Function
  },
  mounted () {
    const switchSearchValueLocalStorage = localStorage.getItem('switchSearchValue') ? localStorage.getItem('switchSearchValue') : 'Y'
    this.isPLU = switchSearchValueLocalStorage
    const switchSearchCheckbox = document.getElementById('switchSearchCheckbox')
    switchSearchCheckbox.checked = switchSearchValueLocalStorage === 'N'
  },
  data () {
    return {
      keywords: null,
      placeholder: '',
      isPLU: null
    }
  },
  methods: {
    getData () {
      if (this.keywords) {
        let params = { 'isPLU': this.isPLU, 's': this.keywords }
        this.$emit('fetchData', params)
      }
    },
    toggleSwitch () {
      const switchSearchValueLocalStorage = localStorage.getItem('switchSearchValue')
      const toStore = switchSearchValueLocalStorage === 'N' ? 'Y' : 'N'
      this.isPLU = toStore
      localStorage.removeItem('switchSearchValue')
      localStorage.setItem('switchSearchValue', toStore)

      const switchSearchCheckbox = document.getElementById('switchSearchCheckbox')
      switchSearchCheckbox.checked = toStore === 'N'
    },
    clearSearch () {
      this.keywords = null
    }
  },
  watch: {
    keywords (newValue, oldValue) {
      if (newValue === '' || newValue === null) {
        // reset component to initial load state
        let params = ''
        this.$emit('fetchData', params)
      }
    },
    isPLU (newValue) {
      newValue === 'Y' ? this.placeholder = 'Поиск по вложенным PLU' : this.placeholder = 'Поиск по данным на форме'
    }
  }
}
</script>

<style scoped>

</style>
