$transportTD: 5%, 8%, 12%, 7%, 7%, 7%, 7%, 6%, 5%, 5%, 5%, 5%, 10%, 10%
$transportTDMinWidth: 83px, 86px, 138px, 138px, 91px, 73px, 114px, 97px, 110px, 90px, 92px, 100px, 106px, 105px
.acceptance-status
  height: 98%
  .work-area
    overflow-x: unset
    overflow-y: hidden
    width: 100%
    height: calc(100% - 148px)
    .table-status
      width: 100%
      margin: 0
      overflow-x: auto
      thead, tbody
        display: block
      thead
        padding-right: 6px
      tbody
        overflow-y: auto
        max-height: calc( 100vh - 330px )
        td
          overflow-wrap: break-word

      @for $i from 1 through 14
        td:nth-child(#{$i}), th:nth-child(#{$i})
          width: nth($transportTD, $i)
          min-width: nth($transportTDMinWidth, $i)

.role-select
  width: 175px
  font-family: "5kaSansDesign-Regular", sans-serif
  font-size: 15px
  appearance: none
  background: url("./assets/img/ic_10_arrow.png") no-repeat right 10px top 72%
  background-size: 7%
  padding: 8px 22px 0 12px
  border: 0
