.acceptance-chart
  height: 100%
  .work-area
    max-height: calc( 100% - 120px)
    overflow-y: auto
    overflow-x: hidden
.work-area__header
  display: flex
  margin-left: 20px
.filter-choose
  margin: 0 40px
#container-tags
  margin: 0
.transport-chart
  width: 100%
  padding: 10px 0 20px 20px
  overflow-x: auto
  display: flex
  position: relative
.alert
  width: 100%
  height: 16px
  margin-bottom: 8px
  display: flex
  justify-content: center
  &__item
    font-size: 12px
    color: $black
    background-color: $golden
    border-radius: 50%
    padding: 2px 5px
    margin: 0 2px
.orange
  background-color: $dark-orange
.red
  background-color: $red
.hour
  padding: 1px 3px
  &.current-hour
    border: 1px solid $red
    border-radius: 9px
    display: inline-block
    padding: 0 6px
    color: $red
    width: min-content
    align-self: center
  &.previous-hour
    color: $black
  &.next-hour
    color: $light-grey
.ticks
  width: 50px
  height: 360px
  position: relative
  &__item
    position: absolute
    bottom: 50px
  &__head
    color: $black
    font-size: 14px
    text-align: center
  &__text
    color: $dark-grey
    font-size: 12px
    padding-top: 5px
    text-align: center
.load-chart
  padding: 0 0 20px 20px
  width: 100%
  &__wrapper
    width: 100%
    position: relative
    padding-top: 1px
  &__head
    font-size: 20px
    color: $black
    text-align: center
    margin: 18px 0
    height: 30px
    display: flex
    justify-content: center
    position: relative
  &__text
    margin-right: 20px
    width: 100%
  &__arrow
    border-radius: 50%
    display: inline-block
    background: url("./assets/img/ic_42_next.png")
    height: 44px
    width: 47px
    position: relative
    top: -10px
    right: 42px
    margin-left: 43px
  &__item
    position: relative
    width: 213px
    height: 110px
  &__img
    font-size: 24px
    color: $black
    z-index: 1
    position: relative
    bottom: 67px
    left: 87px
    display: inline-block
  & .img-suhoj
    &:before
      content: url("./assets/img/temperatureZone/suhoj.png")
  & .img-frov
    &:before
      content: url("./assets/img/temperatureZone/frov.png")
  & .img-zamoroz
    &:before
      content: url("./assets/img/temperatureZone/zamoroz.png")
  & .img-fresh
    &:before
      content: url("./assets/img/temperatureZone/fresh.png")
  & .img-alko
    &:before
      content: url("./assets/img/temperatureZone/alko.png")
  &__desc
    position: relative
    bottom: 72px
    left: 120px
    display: inline-block
  &__title
    color: $black
    font-size: 24px
    margin-bottom: 5px
    font-family: "5kaSansDesign-Black"
  &__count
    color: $dark-grey
.load-chart__list
  display: flex
  justify-content: center
  padding: 16px 70px 16px 30px
  width: 100%
  min-width: 900px
  &_wrapper
    position: relative
    background-color: rgba(255, 255, 255, 1)
    border-radius: 18px
    box-shadow: 0px 0px 12px 0px rgba(60, 78, 107, 0.1)
    overflow-x: auto
    overflow-y: hidden
    display: inline-block
    max-width: 100%

$start-alerts: 66
$start-badge: 75
$start-hour: 70

@for $i from 8 through 21
  .badge-#{$i}
    left: #{$start-badge}px
  .hour-#{$i}
    left: #{$start-hour}px
  $start-alerts: $start-alerts + 72
  $start-badge: $start-badge + 72
  $start-hour: $start-hour + 72
