.work-area
  overflow-x: unset
  overflow-y: hidden
  padding: 10px 15px 10px 20px
  .table-transport
    margin: 10px 0 0
    width: 100%
    thead
      display: block
    tbody
      display: block
      overflow-y: auto
      max-height: calc(100vh - 235px)
    thead, tbody
      th, td
        overflow-wrap: break-word
        font-size: 12px
        padding-left: 20px
        width: 10%
      th
        padding-top: 16px
        vertical-align: top
        height: 75px
        font-size: 12px
      td
        vertical-align: middle
        height: 50px
        .cell
          display: flex
          .number
            margin-top: 7px
            margin-right: 15px
            height: 42px
          .alert-info
            .alert-num
              text-align: center
      td.row-name
        display: flex
        align-items: center
        .plus
          width: 25px
          font-weight: bold

.tr-active
  background-color: $crimson !important

.striped
  tr:nth-child(even)
    background-color: $white-smoke
