.acceptance-chart-gate
    height: 100%
    .work-area
        max-height: calc( 100% - 140px)
        overflow-x: unset
        overflow-y: hidden
        padding: 10px 15px 12px 20px
        .table
            margin: 0
            width: 100%
            max-height: calc( 100% - 25px )
            &.chart
                tbody
                    display: block
                    overflow-y: scroll
                    height: 100%
                    max-height: calc( 100vh - 250px)
                    td
                        padding: 7.5px 12px
                        vertical-align: middle
                thead
                    display: block
                .time-scale
                    display: flex
                    align-items: center
                    position: relative
                    width: 577px
                    &__table
                        margin-top: 10px
                        max-width: 490px
                        overflow-x: auto
                        display: flex
                        pointer-events: none
                        table
                            font-family: "5kaSansDesign-Regular", sans-serif
                            font-size: 15px
                            td
                                border-right: none
                                padding: 7.5px 0
                        &_th
                            width: 70px
                            padding: 0
                            text-align: center
                            .current-hour
                                border: 1px solid $red
                                border-radius: 9px
                                display: inline-block
                                padding: 0 6px
                                color: $red
                            .previous-hour
                                color: $black
                            .next-hour
                                color: $light-grey
                    .current-line
                        position: absolute
                        width: 1px
                        height: 3px
                        max-height: calc( 100vh - 240px)
                        top: 45px
                        z-index: 1
                        border-right: 1px dashed $red
                    &__button
                        display: block
                        background: url("./assets/img/ic_42_next.png") no-repeat center
                        background-size: cover
                        width: 24px
                        height: 24px
                        margin-top: 8px
                        &.button__prev
                            margin-right: 5px
                            transform: scaleX(-1)
                            filter: 'FlipH'
                        &.button__next
                            margin-left: 5px
            .scheme-time
                padding: 0 12px !important
                table td
                    padding: 0
                    border-right: none
                .plan-time, .fact-time
                    max-width: 483px
                    overflow-x: auto
                    margin: 0 20px 0 24px
            &__td
                height: 24px
                padding: 0
                width: 70px
                text-align: center
                .current-line
                width: 2px
                height: 100%
                border-right: 1px dashed $red
        .table-chart
            .log-stock
                min-width: 68px
                max-width: 68px
            .goal
                min-width: 78px
                max-width: 78px
                overflow-wrap: break-word
            .status
                min-width: 104px
                max-width: 104px
            .provider
                min-width: 175px
                max-width: 175px
            .pallet
                min-width: 135px
                max-width: 135px
            .pill-click
                min-width: 572px
                max-width: 572px
        #button .knobs:after
            content: 'Ворота'
            right: 4px
            color: $dark-grey
            border-radius: 15px
            z-index: 1
            font-size: 15px
