.acceptance-schedule
  height: 100%
  .work-area
    max-height: calc( 100% - 140px)
    overflow-y: hidden
    overflow-x: auto
    padding: 10px 15px 12px 20px
    .table
      width: 100%
      margin: 0
      max-height: calc( 100% - 25px )
      tbody
        height: 100%
        max-height: calc( 100vh - 240px)
#button .knobs.schedule:after
  content: 'Ворота'
  right: 4px
  color: $dark-grey
  border-radius: 15px
  z-index: 1
  font-size: 15px
.pill
  position: absolute
  display: flex
  align-items: center
  &-wrapper
    position: relative
    min-width: 910px
    min-height: 33px
    display: flex
    align-items: center
  &__item
    min-height: 27px
    border-radius: 15px
    display: flex
    align-items: center
    position: absolute
    &.fact
      background: $north-green
    &.plan
      background: $platinum
    &.outShift
      border-bottom-left-radius: 0
      border-top-left-radius: 0
