.acceptance-transport-sap
    .search
        margin-right: 0
    .online-status
        padding-left: 870px
        .filter__status
            width: 300px
    .work-area
        overflow-x: unset
        overflow-y: hidden
        .table-transport
            tbody
                max-height: calc( 100vh - 288px)
            thead
                display: block
                th
                    font-size: 12px
.tr-active
  background-color: $crimson !important

.striped
  tr:nth-child(even)
    background-color: $white-smoke
