.work-area
  overflow-x: unset
  overflow-y: hidden
  padding: 10px 15px 10px 20px
  .table-statuses
    margin: 0
    width: 100%
    thead
      display: block
      padding-right: 6px
    tbody
      display: block
      overflow-y: auto
      max-height: calc( 100vh - 235px )
    thead th, tbody td
      vertical-align: middle
      overflow-wrap: break-word
      padding: 0 0 0 20px
      width: 8%
      display: table-cell !important
      min-width: 143px
      font-size: 12px
    th
      padding: 0 20px 0 20px
      height: 75px
    td
      height: 65px
      .cell
        display: flex
        .number
          margin-top: 7px
          margin-right: 10px
          height: 42px
        .alert-info
          display: flex
          flex-direction: column
          &__wrapper
            display: flex
            position: relative
            width: 100%
            .delete-part
              font-size: 10px
              pointer-events: none
          .alert-num
            font-size: 12px
            text-align: center
    td.row-name
      font-size: 12px
      display: flex
      align-items: center
      .tree-button
        display: flex
        span
          font-size: 16px
          font-weight: bold
          cursor: pointer
          margin-right: 10px
    td.row-number-link:hover, td.row-number-link:focus
      background: #F7F7F7
      cursor: pointer
    tr.row-child
      background: $white-smoke

    .cell
      font-size: 15px
