.alerts-dashboard
    height: 100%
    .work-area
        overflow-x: hidden
        overflow-y: auto
        padding: 18px 5px 20px 20px
        height: calc(100% - 125px)
        .dashboard-column
            width: 100%
            justify-content: flex-start
            flex-wrap: wrap
    .alert-card
        height: 194px
        width: 220px
        min-width: 200px
        max-width: 268px
        .dashboard-block__head
            padding: 24px 24px
            .dashboard-block__title
                margin: 0
            .title-text
                font-family: "5kaSansDesign-Regular", sans-serif
                font-size: 15px
                color: $light-grey
        .dashboard-block__content
            padding: 0 24px
            flex-grow: 5
            .content-text
                font-family: "5kaSansDesign-Regular", sans-serif
                font-size: 15px
                color: $black
        .dashboard-block__footer
            flex-grow: 0
            .footer__alert
                margin-left: 0
    .all
        .dashboard-block__head
            padding: 50px 24px
            .title-text
                font-family: "5kaSansDesign-Black", sans-serif
                font-size: 18px
                color: $black

$alertTD: 3%, 6%, 8%, 10%, 12%, 10%, 7%, 7%, 8%, 7%
$alertTDMinWidth: 60px, 80px, 91px, 120px, 225px, 80px, 80px, 92px, 96px
.alerts
    height: 100%
    .work-area
        margin-top: 5px
        overflow-x: auto
        overflow-y: hidden
        max-height: calc(100% - 125px)
        padding: 10px 15px 10px 20px
        &__header
            margin-left: 0
        .table-alerts
            width: 100%
            margin: 0
            position: relative
            .tr-bottom-line
                .sort-column__arrow
                    margin: -8px 0 0 4px
                    &.alert-arrow
                        top: 40%
            ul
              list-style: disc inside
            thead
                display: block
                padding-right: 6px
            tbody
                display: block
                overflow-y: scroll
            thead, tbody
                overflow-wrap: break-word
                max-height: calc( 100vh - 242px )
                font-size: 9pt
                th, td
                    padding: 7px 10px 7px
                th
                    height: 66px
                    vertical-align: top
                    padding-top: 16px
                td
                    height: 60px
                    vertical-align: middle
                    b
                        font-weight: bold
                    .td-href
                        color: rgba(38, 74, 157, 1)
                        font-family: '5kaSansDesign-Black', sans-serif
                        font-size: 12px
                    .alert__image
                        width: 15px
                        height: 15px
                        background-size: cover
                        margin-left: 5px
                    .alert-red
                        width: 15px
                        height: 15px
                        background-size: cover
                        margin-left: 0px
                        margin-bottom: 4px
                    .alert-green
                        width: 15px
                        height: 15px
                        background-size: cover
                        margin-left: 0px
                        margin-bottom: 4px

            @for $i from 1 through 9
              td:nth-child(#{$i}), th:nth-child(#{$i})
                width: nth($alertTD, $i)
                min-width: nth($alertTDMinWidth, $i)

.striped
  tr:nth-child(even)
    background-color: $white-smoke

.scroller
    .delete-part
      top: 0
      left: 0
      height: 98%
