.column-bar-chart
  width: 100%
  display: flex
  padding: 0 24px 8px
  &.vertical
    flex-direction: row
  &.horizontal
    flex-direction: column
  &__item
    height: 100%
    width: 100%
    display: flex
    margin-bottom: 8px
    z-index: 10
    min-width: 60px
    min-height: 30px
    &.vertical
      flex-direction: column-reverse
      align-items: center
    &.horizontal
      flex-direction: row
.chart-title
  font-family: "5kaSansDesign-Regular"
  color: $dark-grey
  font-size: 12px
  align-self: center
  margin-right: 10px
  &.vertical
    margin: 0
    text-align: center
    height: 12%
    width: 100%
  &.horizontal
    width: 30%
  &__wrapper
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: flex-end
.chart-wrapper
  display: flex
  width: 60%
  &.vertical
    flex-direction: column-reverse
    height: 88%
    position: relative
  &.horizontal
    width: 60%
    flex-direction: row
    position: relative
  &__item
    height: 100%
    display: flex
    width: 100%
    position: absolute
    bottom: 0
    &.vertical
      position: absolute
      justify-content: center
    &.horizontal
      justify-content: flex-end
.chart-legend
  width: 10%
  align-self: center
  display: flex
  flex-direction: column
  justify-content: space-around
  &__title
    font-family: "5kaSansDesign-Black"
    font-size: 12px
    color: $black
    &.horizontal
      //margin-right: 10px
    &.vertical
      margin-bottom: 4px
  &.horizontal
    margin-left: 16px
    height: 100%
  &.vertical
    width: 100%
    align-items: center
    justify-content: flex-end
  &__hatching
    position: absolute
    width: 100%
    height: 100%
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, white 49.9%, white 60%, rgba(0, 0, 0, 0) 60% ), linear-gradient(45deg, white 10%, rgba(0, 0, 0, 0) 10% )
    background-size: 0.5em 0.5em
    z-index: 70
    pointer-events: none
.inner
  text-align: center
  width: 100%
  margin: 0
  &.vertical
    margin-top: 8px
    height: max-content
  &.horizontal
    align-self: center
    text-align: center
.outer
  &.horizontal
    align-self: center
    text-align: center
    display: flex
    height: 100%
.chart-scale
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 53px 0 35px 0
  &__one-element
    justify-content: flex-end
  &__wrapper
    width: 100%
.chart-dividing-lines
  position: absolute
  display: flex
  justify-content: space-between
  height: 360px
  flex-direction: column-reverse
  width: 100%
  margin-top: 61px
.scale-line
  width: 100%
  height: 1px
  border-top: 1px dashed $light-grey
  &.red-line
    border-top: 1px dashed red
    z-index: 22
.chart-ticks
  position: absolute
  height: 22.8%
  display: flex
  flex-direction: column
  align-items: flex-end
  &__text
    color: $light-grey
    margin: 0
    padding: 0
    font-family: "5kaSansDesign-Regular"
    min-width: 60px
    max-width: 60px
    &.number
      font-size: 14px
      margin-bottom: 5px
    &.text
      font-size: 12px
      margin-top: 5px
.chart-columns
  display: flex
  overflow: auto
  &.vertical
    overflow-y: hidden
  &.horizontal
    flex-direction: column
.chart-title__alert
  height: 30px
.badge__wrapper
  position: absolute
  top: -62px
.pin-in-time__inner-title
  width: 100%
  align-self: center
  text-align: center
  margin-bottom: 5px
  color: white
  font-family: "5kaSansDesign-Regular"
  font-size: 12px
.chart-columns
  -ms-overflow-style: none  // IE 10+
  overflow: -moz-scrollbars-none  // Firefox
  &.vertical::-webkit-scrollbar
    display: none // Chrome
.legend-title
  align-self: center
.popup-item
  display: flex
  justify-content: space-between
  padding-bottom: 20px
  &__title
    font-family: "5kaSansDesign-Regular"
    font-size: 16px
    &.black
      color: $black
    &.gray
      color: $dark-grey
  &__value
    font-family: "5kaSansDesign-Black"
    font-size: 15px
