.filter-mask
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -20
  opacity: 0
  transition: z-index 0.3s step-end, opacity 0.3s linear
  -webkit-transition:  z-index 0.3s step-end, opacity 0.3s linear
  &.modal-mask
    opacity: 1
    transition: z-index 0.3s step-start, opacity 0.3s linear
.filter
  width: 380px !important
  background-color: rgba(255, 255, 255, 1)
  border-radius: 18px 18px 18px 18px
  box-shadow: -20px 0px 20px 0px rgba(60, 78, 107, 0.09), 5px 0px 12px 0px rgba(227, 229, 230, 1)
  position: absolute
  top: 64px
  right: -370px
  transition: right 0.5s
  transition-property: transform
  transform: translateX(0)
  z-index: 22
  max-height: 90%
  overflow-y: scroll
  &.active
    transform: translateX(-400px)
    @media (max-width: 1600px)
      transform: translateX(-400px)
  .wrapper
    padding: 20px 16px
    display: flex
    flex-direction: column
  &__header
    display: flex
    width: 100%
    color: $black
    align-items: center
    margin: 0 0 30px 0
    height: 15px
    .header__group
      display: flex
      align-items: center
      margin: 6px 0 0 48px
    .header__icon_close
      background: url("./assets/img/ic_20_cancel.png")
      width: 20px
      height: 20px
      position: absolute
      right: 17px
  &__status
    width: 100%
    height: 30px
    margin: 0px 0px 16px 0px
    display: flex
    justify-content: space-around
    align-items: center
    background-color: rgba(255, 255, 255, 1)
    border-radius: 15px
    box-shadow: 0px 0px 6px 0px rgba(60, 78, 107, 0.25)
    .status_dot
      height: 12px
      width: 13px
      background-color: $green
      border-radius: 50%
      display: inline-block
      position: relative
    .status_item
      position: relative
      right: 15px
      color: $black
    .status_descr
      font-size: 14px
      color: $light-grey
  &__alerts
    position: relative
    height: 50px
    width: 100%
    padding: 16px 4px
    margin: 8px 4px
    align-items: center
    display: flex
    color: $black
    &__text
      width: 40%
    &__type
      display: flex
      width: 75%
      justify-content: space-around
      .item
        font-size: 12px
      .low:before
        @include alert-img ("./assets/img/alert-yellow.png")
      .middle:before
        @include alert-img ("./assets/img/alert-orange.png")
      .critical:before
        @include alert-img ("./assets/img/alert-red.png")
  &__plan
    margin: 0 0 15px 0
    width: 100%
    height: 40px
    display: flex
    justify-content: space-around
    align-items: center
    padding: 0 20px 0 10px
    &_text
      width: 60%
    &_count
      .count-number
        display: inline-flex
        position: relative
        width: 100%
        max-width: calc(180 / 16 * 1rem)
        button
          background-color: $platinum
          margin: 0 12px
          height: 24px
          width: 24px
          position: relative
          top: 6px
          border-radius: 50%
          font-size: 14px
          color: $black
          border: 0
        input
          border: 1px solid $light-grey
          border-radius: 9px
          height: 36px
          margin: 0 auto
          width: 36px
          font-family: "5kaSansDesign-Black"
          text-align: center
          font-size: 20px
          &:disabled
            background-color: white
            border: 1px solid $light-grey
            color: $black
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button
            -webkit-appearance: none
  &__storage
    display: flex
    flex-direction: column
    margin: 0 0 13px 0
    position: relative
  &_text
    font-size: 14px
    margin-left: 2px
  &-header
    display: flex
    align-items: center
    margin: 6px 0 0
    &__link
      display: flex
      align-items: center
      color: $black
      font-size: 16px
      position: relative
      letter-spacing: 0.4px
      background: rgba(227, 229, 230, 0.3)
      padding: 6px 38px 6px 16px
      border-radius: 18px
      &:before
        content: url("./assets/img/ic_24_filter.png")
        position: relative
        margin-right: 24px
      &.active
        &:before
          content: url("./assets/img/ic_24_filter_1.png")
          position: relative
          margin-right: 24px
  &-choose
    margin: 6px 0 6px 20px
  &__late
    position: relative
    margin: 15px 0 20px
    height: 30px
    .round
      position: relative
      input
        visibility: hidden
      input:checked
        + label
          background-color: $green
          border-color: $green
        + label:after
          opacity: 1
      label
        background-color: #fff
        border: 1px solid #ccc
        border-radius: 50%
        cursor: pointer
        height: 28px
        left: 0
        position: absolute
        top: 0
        width: 28px
        span
          position: absolute
          left: 40px
          top: 50%
          width: 200px
          transform: translateY(-50%)
          color: $black
        &:after
          border: 2px solid #fff
          border-top: none
          border-right: none
          content: ""
          height: 6px
          left: 6px
          opacity: 0
          position: absolute
          top: 7px
          transform: rotate(-45deg)
          width: 12px
.tags
  display: flex
  flex-wrap: wrap
  width: 100%
  margin-top: 12px
  color: $light-grey
  &__item
    display: flex
    align-items: center
    padding: 6px 12px
    background-color: rgba(227, 229, 230, 1)
    border-radius: 15px
    height: 30px
    margin-right: 10px
    margin-bottom: 17px
    position: relative
    .delete-part
      font-size: 10px
      pointer-events: none
    &.active
      background-color: $green
      color: white
      font-family: '5kaSansDesign-Regular', sans-serif
      &.tag-cold:before
        @include tags-icon("./assets/img/tags/active/ic_log_zamoroz_active.png")
      &.tag-suhoj:before
        @include tags-icon("./assets/img/tags/active/ic_log_dry_active.png")
      &.tag-frov:before
        @include tags-icon("./assets/img/tags/active/ic_log_frov_active.png")
      &.tag-fresh:before
        @include tags-icon("./assets/img/tags/active/ic_log_fresh_active.png")
      &.tag-alko:before
        @include tags-icon("./assets/img/tags/active/ic_log_alko_box_active.png")
      &.tag-clock:before
        @include tags-icon("./assets/img/tags/active/ic_tc_clock_active.png")
      &.tag-ssam:before
        @include tags-icon("./assets/img/tags/active/ic_tc_ssam_active.png")
      &.tag-kdk:before
        @include tags-icon("./assets/img/tags/active/ic_tc_kdk_active.png")
      &.tag-rc:before
        @include tags-icon("./assets/img/tags/active/ic_tc_rc_active.png")
      &.tag-ultrafresh:before
        @include tags-icon("./assets/img/tags/active/ic_tc_ultrafresh_active.png")
      &.tag-snt:before
        @include tags-icon("./assets/img/tags/active/ic_tc_snt_active.png")
      &.tag-prikassa:before
        @include tags-icon("./assets/img/tags/active/ic_log_cashbox_active.png")
      &.tag-alko-sht:before
        @include tags-icon("./assets/img/tags/active/ic_log_alko_active.png")
    &.tag-cold:before
      @include tags-icon("./assets/img/tags/ic_log_zamoroz_inactive.png")
    &.tag-suhoj:before
      @include tags-icon("./assets/img/tags/ic_log_dry_inactive.png")
    &.tag-frov:before
      @include tags-icon("./assets/img/tags/ic_log_frov_inactive.png")
    &.tag-fresh:before
      @include tags-icon("./assets/img/tags/ic_log_fresh_inactive.png")
    &.tag-alko:before
      @include tags-icon("./assets/img/tags/ic_log_alko_box_inactive.png")
    &.tag-clock:before
      @include tags-icon("./assets/img/tags/ic_tc_clock_inactive.png")
    &.tag-ssam:before
        @include tags-icon("./assets/img/tags/ic_tc_ssam_inactive.png")
    &.tag-kdk:before
        @include tags-icon("./assets/img/tags/ic_tc_kdk_inactive.png")
    &.tag-rc:before
        @include tags-icon("./assets/img/tags/ic_tc_rc_inactive.png")
    &.tag-ultrafresh:before
        @include tags-icon("./assets/img/tags/ic_tc_ultrafresh_inactive.png")
    &.tag-snt:before
        @include tags-icon("./assets/img/tags/ic_tc_snt_inactive.png")
    &.tag-prikassa:before
        @include tags-icon("./assets/img/tags/ic_log_cashbox_inactive.png")
    &.tag-alko-sht:before
        @include tags-icon("./assets/img/tags/ic_log_alko_inactive.png")
.icon-width:before
  margin-right: 9px !important
#container-tags
  .active
    &:after
      content: url("./assets/img/ic_10_delete.png")
      width: 10px
      height: 10px
      margin: 0 0 4px 10px
.clear-btn
  height: 36px
  width: 100%
  background-color: $red
  border-radius: 18px
  color: white
  display: flex
  align-items: center
  justify-content: center
