.free-category-cells
  height: 100%
  .menu
    .title
      margin-left: 20px
      font-size: 15pt
      color: rgba(26, 26, 26, 1)
    .filter__status
      margin-top: 16px
      width: 300px
  .work-area
    margin-left: 40px
    display: flex
    padding-left: 5px
    height: calc( 100% - 133px )
    .table-wrapper
      margin-right: 30px
      width: 300px
      display: block
      .table-title
        margin-left: 122px
        margin-bottom: 13px
        color: black
        font-weight: bold
      .table-category
        display: table-row
        margin: 0
        margin-bottom: 10px
        tbody
          overflow-y: scroll
          max-height: calc( 100vh - 275px)
        thead, tbody
          display: block
          th, td
            overflow-wrap: break-word
            font-size: 9pt
            padding-left: 15px
          th
            vertical-align: top
            padding-top: 17px
            height: 66px
            line-height: 1.6
            .sort-column
              padding-right: 0px !important
              .sort-column__arrow
                position: relative
                margin-top: -5px
                margin-left: 9px
                display: flex
          td
            height: 61px
            vertical-align: middle
        th:nth-child(1), td:nth-child(1)
          min-width: 64px
          max-width: 64px
        th:nth-child(2), td:nth-child(2)
          min-width: 74px
          max-width: 74px
        th:nth-child(3), td:nth-child(3)
          min-width: 73px
          max-width: 73px
        th:nth-child(4), td:nth-child(4)
          min-width: 87px
          max-width: 87px
        th:nth-child(4)
          min-width: 84px
          max-width: 84px
    .empty
      padding-right: 4px
      margin-left: -30px

