.home
  position: relative
  &.work-area
    overflow-y: auto
    overflow-x: hidden
.dashboard-row
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-between
.dashboard-column
  position: relative
  width: 50%
  display: inline-flex
  justify-content: space-between
  flex-grow: 2
.acceptance
  min-width: 555px
.storage
  min-width: 276px
  max-width: 390px
.staff
  min-width: 256px
.complect
  min-width: 276px
.load
  min-width: 276px
.dashboard-block
  position: relative
  height: 312px
  width: 50%
  background-color: rgba(255, 255, 255, 1)
  border-radius: 18px
  box-shadow: 1px 0px 12px 0px rgba(60, 78, 107, 0.2)
  margin: 12px 12px
  flex-grow: 1
  &__wrapper
    height: 100%
    display: flex
    flex-direction: column
  &__head
    display: flex
    justify-content: space-between
    padding: 8px 24px
    flex-grow: 1
  &__filter
    display: flex
    justify-content: space-between
    padding: 0 24px
    flex-grow: 1
  &__footer
    position: relative
    display: flex
    flex: 0 0 auto
    justify-content: space-between
    flex-grow: 1
    padding: 0 20px
    background: $white-smoke
    border-bottom-left-radius: 18px
    border-bottom-right-radius: 18px
    align-items: center
    max-height: 40px
  &__arrow
    border-radius: 50%
    display: inline-block
    background: url("./assets/img/ic_42_next.png")
    height: 42px
    width: 42px
    min-width: 42px
    position: relative
    margin-left: auto
    & a
      position: absolute
      left: 0
      right: 0
      width: 100%
      height: 100%
      border-radius: 100%
  &__title
    display: inline-flex
    width: 100%
    margin: 12px 0px
    align-items: baseline
  &__content
    display: block

.column-content
  display: flex
  margin-top: 10px
  height: calc(100% - 144px)
.content-separator
  height: 100%
  padding: 8px 36px 8px 0
.separator__line
  width: 1px
  height: 3px
  top: 70px
  border-right: 1px dashed $light-grey
.filter-radio-late
  padding: 0 33px
  margin: 0
.footer
  &-text
    font-family: "5kaSansDesign-Regular"
    font-size: 15px
    color: $black
    align-self: center
  &__arrow
    background: url('./assets/img/ic_10_sort.png') no-repeat right center
    display: inline-block
    height: 40px
    width: 10px
    align-self: center
    transform: rotate(-90deg)
    position: absolute
    top: 0
    right: 8px
  &__alert
    display: flex
    height: 40px
    justify-content: space-between
    margin-left: auto
.alert
  &__count
    display: inline-flex
    position: relative
    align-items: center
  &__image
    margin: 0
    bottom: 0
    display: inline-block
    height: 30px
    width: 30px
    &.low
      background: url('./assets/img/alert-yellow.png') no-repeat center
    &.middle
      background: url('./assets/img/alert-orange.png') no-repeat center
    &.critical
      background: url('./assets/img/alert-red.png') no-repeat center
  &__text
    font-family: "5kaSansDesign-Black"
    font-size: 15px
    color: $black
    align-self: center
    margin: 0 4px
.title-text
  font-family: "5kaSansDesign-Black"
  font-size: 18px
  color: $black
.title-alert
  font-family: "5kaSansDesign-Black"
  font-size: 12px
  padding: 0 24px
.filter-button
  display: flex
  justify-content: flex-end
  margin: 24px 12px 0
.round-chard-container
  display: flex
  margin: 0px 0 13px
.round-chart-description
  align-self: center
  padding-top: 10px
  &__title
    font-family: "5kaSansDesign-Regular"
    color: $black
    font-size: 16px
    margin-bottom: 8px
  &__proportion
    font-family: "5kaSansDesign-Regular"
    color: $light-grey
    font-size: 12px
.round-chart-item
  position: relative
  height: 80px
  width: 25%
  margin: 0 24px
  display: flex
  align-items: center
  justify-content: center
.round-chart
  margin: 0
  &__percentage
    position: absolute
    margin-top: 6px
  &__circle
    position: absolute
    width: 100%
    height: 100%
.acceptance-settings
  display: flex
  width: 100%
  height: 100%
  flex-flow: row wrap
  &__item
    margin: 0
    width: 50%
  &__row
    margin: 0
    width: 50%
    margin-top: 10px
.acceptance-chart
  height: 100%
.setting-title
  font-family: "5kaSansDesign-Regular"
  color: $dark-grey
  font-size: 12px
.setting-value
  font-family: "5kaSansDesign-Black"
  color: $red
  font-size: 15px
  margin-top: 9px
.menu
  .filter-choose
    margin: 0
.mock
  font-size: 25px
  color: rgba(221, 222, 227, 1)
  width: 200px
  display: inline-block
  padding-left: 23px
  padding-top: 20px
