.occupancy-tiers
    height: 100%
    .menu
        &-graph__container
            display: none
            visibility: hidden
        .search
            display: none
            visibility: hidden
    .work-area
        height: calc(100% - 88px)
        #button .knobs:after
            content: 'Яруса'
        .table-wrapper
            max-width: 99.5%
            overflow-x: auto
            margin-left: 20px
            padding: 0 15px 0 6px
            display: flex
            max-height: calc( 100% - 260px )
            height: auto
            .table-tiers
                margin-bottom: 10px
                margin-left: 0px
                margin-right: 0px
                position: relative
                overflow-y: auto
                &__first-line
                    border-bottom: hidden
                    height: 26px
                .first-column
                    min-width: 70px
                    max-width: 70px
                .tr-bottom-line__clear
                    border-bottom: hidden
                thead
                    position: sticky
                    top: 0
                    background: white
                    td
                        padding: 6px 4px 8px 9px
                        min-width: 112px
                        width: 112px
                        font-size: 12px
                        background: rgba(247, 247, 247, 1)
                    th
                        padding: 0px 4px 0px 9px
                        min-width: 112px
                        max-width: 112px
                thead
                    height: 66px
                thead, tbody
                    display: block
                    overflow-wrap: break-word
                    font-size: 8pt
                tbody
                    td
                        height: 60px
                        min-width: 112px
                        max-width: 112px
                        vertical-align: middle !important
                        &.row-number-link:hover, &.row-number-link:focus
                            background: #F7F7F7
                            cursor: pointer
                    .row-child
                        background-color: $white-smoke
                    .adg-cold
                        display: flex
                        .tree-button
                            margin-top: 7px
                            font-size: 15px
                    .td-line-elements
                        display: flex
                        .td-href
                            color: rgba(38, 74, 157, 1)
                            font-size: 12px
                            padding-left: 8px
                            padding-right: 20px
                        .td-non-link
                            font-size: 12px
                            padding-left: 8px
                            padding-right: 20px
                            font-family: "5kaSansDesign-Black", sans-serif
                        .td-font
                            font-family: '5kaSansDesign-Black'
                            font-size: 12px
                            word-break: break-all
                        .td-color-grey
                            color: rgba(102, 102, 102, 1)
                        .td-color-yellow
                            color: rgba(250, 204, 0, 1)
                        .td-color-red
                            color: rgba(230, 24, 1, 1)
            .empty
                padding: 2px
    .load-chart
        max-width: 98%
        &__list_wrapper
            overflow: hidden
            width: min-content
            margin: 0 auto
            padding: 0px 10px 0px 10px
            .load-chart__list
                margin: 0px 10px 0px 10px
                justify-content: center
                .load-chart__item
                    width: 155px
                    height: 115px
                    .img-alko-sht
                        font-size: 44px
                        color: #000
                        z-index: 1
                        position: relative
                        bottom: 67px
                        left: 55px
                        display: inline-block
                        content: url("./assets/img/temperatureZone/alko_sht.png")
                    .img-prikassa
                        font-size: 44px
                        color: #000
                        z-index: 1
                        position: relative
                        bottom: 67px
                        left: 55px
                        display: inline-block
                        content: url("./assets/img/temperatureZone/prikassa.png")
                    .load-chart__desc
                        display: flex
                        left: 20px
                        bottom: 45px
                        .load-chart__title
                            font-size: 18px
                        .load-chart__count
                            font-size: 15px
                            margin-left: 8px
                            margin-top: 2px
                    .load-chart__img
                        left: 55px
