$palletTD: 5%, 5%, 8%, 8%, 8%, 16%, 10%, 10%, 8%, 10%, 10%
$palletTDMinWidth: 44px, 60px, 70px, 71px, 67px, 169px, 86px, 91px, 84px, 87px, 95px
.pallets
  .work-area
    margin-top: 7px
    overflow-x: unset
    overflow-y: hidden
    width: 100%
    padding: 10px 15px 10px 20px
    .table-pallets
      margin: 0
      width: 100%
      td
        padding: 15px 5px
      .tr-bottom-line
        .sort-column__arrow
          margin: -8px 0 0 4px
          &.stage_value
            margin: -8px 0 0 4px
        .arrow-stage
          .sort-column__arrow
            margin: -13px 0px 0px -18px
          .sort
            left: -140px
        .arrow-receipt .sort
          left: -15px
      thead
        display: block
        padding-right: 6px
      tbody
        display: block
        overflow-y: auto
      thead, tbody
        overflow-wrap: break-word
        max-height: calc( 100vh - 263px )
        font-size: 8pt
        th
          vertical-align: top
          padding-top: 16px
        td
          height: 60px
          vertical-align: middle
          font-size: 12px
          .alert__image
            width: 15px
            height: 15px
            background-size: cover
            margin-left: 8px

  @for $i from 1 through 11
    td:nth-child(#{$i}), th:nth-child(#{$i})
      width: nth($palletTD, $i)
      min-width: nth($palletTDMinWidth, $i)
      @if $i == 1
        text-align: center

  .sort
    right: 0
    left: auto
.striped
  tr:nth-child(even)
    background-color: $white-smoke


