.search
  max-width: 250px
  margin: 8px 15px 0
  position: relative
  bottom: 9px
  form
    width: 100%
    position: relative
    margin-top: 3px
    .input
      height: 36px
      width: 100%
      border: none
      border-radius: 18px
      background: rgba(255, 255, 255, 1)
      @include box-shadow(0, 0, 8, rgba(60, 78, 107, 0.2))
      color: $dark-grey
      font-size: 12px
      padding: 8px 30px 9px 48px
    input::placeholder
      color: $light-grey
    .button-search
      position: absolute
      background: url("./assets/img/ic_20_search.png")
      width: 20px
      height: 20px
      top: 8px
      left: 14px
    .button-clear
      position: absolute
      background: url("./assets/img/ic_20_delete.png")
      width: 16px
      height: 16px
      top: 9px
      right: 10px
  &__switch
    #button .knobs:before
      width: 67px
    #button .knobs:after
      content: 'По форме'
      left: 50px
      color: $dark-grey
      border-radius: 15px
      z-index: 1
      font-size: 12px
    #button .knobs span
      font-size: 12px
      left: -20px
      top: 4px
    .switch__button
      .layer
        width: 60%
    #button .checkbox:checked + .knobs:before
      left: 78px
.highlighted
  background: yellow
