.sort
  width: 265px
  background-color: rgba(255, 255, 255, 1)
  border-radius: 12px
  box-shadow: 0px 0px 12px 0px rgba(60, 78, 107, 0.25)
  z-index: 9999
  position: absolute
  top: 100%
  left: 0
  display: block
  &-column
    position: relative
    padding-right: 15px !important
    &__container
      display: flex
      align-content: center
      .container_text
      .container_arrow
        a
          top: 35%
    &__arrow
      width: 10px
      height: 10px
      display: inline-block
      background-image: url("./assets/img/ic_10_sort_non_active.png")
      position: absolute
      margin: 1px 0 0 3px
    .asc
      transform: rotate(180deg)
    .active
      top: 40% !important
      background-image: url("./assets/img/ic_10_sort.png")
  &__parameters
    padding: 24px 16px 0
    &_item
      margin-bottom: 12px
      height: 30px
      [type="radio"]:checked,
      [type="radio"]:not(:checked)
        position: absolute
        left: -9999px

      [type="radio"]:checked + label,
      [type="radio"]:not(:checked) + label
        position: relative
        padding-left: 28px
        cursor: pointer
        line-height: 20px
        display: inline-block
        color: #666

      [type="radio"]:checked + label:before,
      [type="radio"]:not(:checked) + label:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 18px
        height: 18px
        border: 1px solid $dark-grey
        border-radius: 100%
        background: #fff

      [type="radio"]:checked + label:before
        border: 1px solid $red

      [type="radio"]:checked + label:after,
      [type="radio"]:not(:checked) + label:after
        content: ''
        width: 12px
        height: 12px
        background: $red
        position: absolute
        top: 4px
        left: 4px
        border-radius: 100%
        -webkit-transition: all 0.2s ease
        transition: all 0.2s ease

      [type="radio"]:not(:checked) + label:after
        opacity: 0
        -webkit-transform: scale(0)
        transform: scale(0)

      [type="radio"]:checked + label:after
        opacity: 1
        -webkit-transform: scale(1)
        transform: scale(1)
.empty-sort
  [type="radio"]:checked + label:before
    border: 1px solid #666666
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after
    background: transparent
.disabled
  pointer-events: none
.table-tier .sort-column .container_arrow .sort-column__arrow
  top: 10px
