#button .knobs:before, #button .knobs:after, #button .knobs span
  position: absolute
  top: 4px
  width: 120px
  height: 10px
  font-size: 10px
  font-weight: bold
  text-align: center
  line-height: 1
  padding: 9px 4px
  border-radius: 2px
  transition: 0.3s ease all

#button .knobs:before
  content: ''
  left: 4px
  background-color: rgba(255, 255, 255, 1)
  border-radius: 15px
  box-shadow: 0px 0px 8px 0px rgba(60, 78, 107, 0.25)
  z-index: 1

#button .knobs:after
  content: 'Паллет'
  right: 4px
  color: $dark-grey
  border-radius: 15px
  z-index: 1
  font-size: 15px

#button .knobs span
  display: inline-block
  left: 4px
  color: $black
  z-index: 1
  font-size: 15px
  top: 2px
  height: 30px
  border-radius: 15px

#button .checkbox:checked + .knobs span
  color: $dark-grey

#button .checkbox:checked + .knobs:before
  left: 118px
  background-color: white

#button .checkbox:checked + .knobs:after
  color: $black

#button .checkbox:checked ~ .layer
  background-color: #fcebeb

.switch
  height: 35px
  &__button
    position: relative
    top: 50%
    width: 250px
    height: 36px
    margin: -20px auto 0 auto
    overflow: hidden

.checkbox
  position: sticky
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  opacity: 0
  cursor: pointer
  z-index: 3
  bottom: 35px

.knobs
  z-index: 2

.layer
  width: 95%
  background-color: $platinum
  height: 28px
  z-index: 0
  border-radius: 15px
  top: 4px
  position: relative
  left: 4px
