.table
  font-size: 12px
  color: $dark-grey
  font-family: "5kaSansDesign-Regular", sans-serif
  text-align: left
  margin: 10px 15px 12px 20px
  background-color: rgba(255, 255, 255, 1)
  @include box-shadow(0, 0, 12, rgba(60, 78, 107, 0.15))
  border-radius: 18px
  overflow: hidden
  border-bottom-right-radius: 0
  thead
    background-color: rgba(247, 247, 247, 1)
  tbody tr:not(:last-child)
    border-bottom: 1px dashed rgba(221, 222, 227, 1)
  .tr-bottom-line
    border-bottom: 1px solid $grey
  th, td
    padding: 17px 10px 20px
    border-right: 1px dashed rgba(221, 222, 227, 0.4)
    &:last-child
      border-right: none
  th
    color: $dark-grey
    font-family: "5kaSansDesign-Black", sans-serif
    vertical-align: middle
    font-weight: 900
    letter-spacing: 0.3px
    line-height: 1.3
    font-size: 12px
    padding: 5px 10px
    background: rgba(247, 247, 247, 1)
  td
    font-family: "5kaSansDesign-Regular", sans-serif
  .td-alert
    color: $red
    position: relative
    &:after
      content: url("./assets/img/alert-red.png")
      position: relative
      margin-left: 10px
      top: 5px
  .td-href
    display: block
    font-size: 12px
    margin-bottom: 7px
    color: $blue
    text-decoration: underline
    font-family: "5kaSansDesign-Black", sans-serif
  .td-non-href
    display: block
    font-size: 12px
    margin-bottom: 7px
    font-family: "5kaSansDesign-Black", sans-serif
  .kind-time
    color: $light-grey
    margin-right: 16px
  .kind
    min-width: 143px
  .nowrap
    white-space: nowrap
  &.schedule
    td
      word-break: break-all
      padding: 7.5px 12px
      vertical-align: middle
    .time-scale
      display: flex
      align-items: center
      position: relative
      width: 30%
      &__table
        max-width: 490px
        overflow-x: auto
        display: flex
        pointer-events: none
        table
          font-family: "5kaSansDesign-Regular", sans-serif
          font-size: 15px
          td
            border-right: none
            padding: 7.5px 0
        &_th
          width: 70px
          padding: 0
          text-align: center
          .current-hour
            border: 1px solid $red
            border-radius: 9px
            display: inline-block
            padding: 0 6px
            color: $red
          .previous-hour
            color: $black
          .next-hour
            color: $light-grey
      .current-line
        position: absolute
        width: 1px
        height: 3px
        max-height: calc( 100vh - 228px)
        top: 33px
        border-right: 1px dashed $red
        z-index: 3000
      &__button
        display: block
        background: url("./assets/img/ic_42_next.png") no-repeat center
        background-size: cover
        width: 24px
        height: 24px
        &.button__prev
          margin-right: 5px
          transform: scaleX(-1)
          filter: 'FlipH'
        &.button__next
          margin-left: 5px
  .scheme-time
    padding: 0 12px !important
    width: 30%
    table td
      padding: 0
      border-right: none
    .plan-time, .fact-time
      max-width: 500px
      overflow-x: auto
      margin: 0 20px 0 24px
    &__td
      height: 24px
      padding: 0
      width: 70px
      text-align: center
      right: -1px
      .current-line
        width: 2px
        height: 100%
        border-right: 1px dashed $red
  &-response
    border-collapse: collapse
    margin: 10px 0
    th
      font-weight: bold
    th, td
      border: 1px solid black
      padding: 5px
  &-statuses th.icon_th
    text-align: center
    font-weight: 100
    font-family: "5kaSansDesign-Regular", sans-serif
    color: $light-grey
  .border-left
    border-left: 1px dashed rgba(221, 222, 227, 0.4)
  .border-not-bottom
    border-bottom: none !important
.scrollbar-none
  scrollbar-width: none
  -ms-overflow-style: none
  ::-webkit-scrollbar
    display: none

.striped
  tr:nth-child(even)
    background-color: $white-smoke

.tr-active
  background-color: $crimson !important
.table-wrapper
  max-width: 99.5%
  display: flex
  height: 80vh

.table-schedule
  &>thead, tbody
    display: block
  &>thead
    padding-right: 6px
  &>tbody
    overflow-y: auto
    max-height: calc( 100vh - 253px )
  .log-stock
    min-width: 53px
    width: 8%
  .provider
    min-width: 140px
    width: 12%
    overflow-wrap: break-word
  .status
    min-width: 100px
    width: 10%
  .time
    min-width: 100px
    width: 12%
  .goal
    min-width: 92px
    width: 10%
  .pallet
    min-width: 68px
    width: 10%
    text-align: center

.scroller
  scrollbar-width: thin
  scrollbar-color: #888 $platinum

/* width */
::-webkit-scrollbar
  width: 6px
  height: 6px

/* Track */
::-webkit-scrollbar-track
  background: $platinum

/* Handle */
::-webkit-scrollbar-thumb
  background: #888

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #555

.not-found
  display: flex
  justify-content: center
  padding: 80px 0
