.alko
  background: url("./assets/img/temperatureZone/alko.png") no-repeat center
  width: 24px
  height: 24px
  background-size: cover
  margin: auto
.alko_sht
  background: url("./assets/img/temperatureZone/alko_sht.png") no-repeat center
  width: 24px
  height: 24px
  background-size: cover
  margin: auto
.fresh
  background: url("./assets/img/temperatureZone/fresh.png") no-repeat center
  width: 24px
  height: 24px
  background-size: cover
  margin: auto
.frov
  background: url("./assets/img/temperatureZone/frov.png") no-repeat center
  width: 24px
  height: 24px
  background-size: cover
  margin: auto
.prikassa
  background: url("./assets/img/temperatureZone/prikassa.png") no-repeat center
  width: 24px
  height: 24px
  background-size: cover
  margin: auto
.suhoj
  background: url("./assets/img/temperatureZone/suhoj.png") no-repeat center
  width: 24px
  height: 24px
  background-size: cover
  margin: auto
.zamoroz
  background: url("./assets/img/temperatureZone/zamoroz.png") no-repeat center
  width: 24px
  height: 24px
  background-size: cover
  margin: auto
.pin-in-time
  background: url("./assets/img/pin/pin-in-time.png") no-repeat center
  width: 31px
  height: 35px
  background-size: cover
  margin: auto
  display: flex
.pin-late
  background: url("./assets/img/pin/pin-late.png") no-repeat center
  width: 31px
  height: 35px
  background-size: cover
  margin: auto
  display: flex

%icon-shared
  background-size: cover
  display: flex

.priority-st_container
  display: flex

.priority-icon
  @extend %icon-shared
  &.status
    width: 25px
    height: 25px
    margin: auto
  &.priority-ts
    width: 20px
    height: 20px
    margin-left: 8px
    position: absolute
    z-index: 1
    right: 5px
  &.priority-st
    width: 20px
    height: 20px
    margin-left: 8px
    position: relative
    right: 5px
    display: inline-block
  &.n_clock
    &.white
      background-image: url("./assets/img/priority_ts/white/n_clock.png")
    &.gray
      background-image: url("./assets/img/priority_ts/gray/n_clock.png")
  &.new_items
    &.white
      background-image: url("./assets/img/priority_ts/white/new_items.png")
    &.gray
      background-image: url("./assets/img/priority_ts/gray/new_items.png")
  &.pickup
    &.white
      background-image: url("./assets/img/priority_ts/white/pickup.png")
    &.gray
      background-image: url("./assets/img/priority_ts/gray/pickup.png")
  &.rc_kdk
    &.white
      background-image: url("./assets/img/priority_ts/white/rc_kdk.png")
    &.gray
      background-image: url("./assets/img/priority_ts/gray/rc_kdk.png")
  &.rc_store
    &.white
      background-image: url("./assets/img/priority_ts/white/rc_store.png")
    &.gray
      background-image: url("./assets/img/priority_ts/gray/rc_store.png")
  &.ultrafresh
    &.white
      background-image: url("./assets/img/priority_ts/white/ultrafresh.png")
    &.gray
      background-image: url("./assets/img/priority_ts/gray/ultrafresh.png")
.clock-green
  background: url("./assets/img/clock-green.png") no-repeat center
  width: 20px
  height: 20px
  background-size: cover
.clock-red
  background: url("./assets/img/clock-red.png") no-repeat center
  width: 20px
  height: 20px
  background-size: cover
