@mixin box-shadow($top, $left, $blur, $color: rgba(60, 78, 107, 0.15))
  box-shadow: $top*1px $left*1px $blur*1px $color
@mixin tags-icon($img-url)
  content: url($img-url)
  width: 16px
  height: 16px
  margin-right: 5px
@mixin alert-img($img-url)
  content: url($img-url)
  position: relative !important
  margin-left: 12px !important
  bottom: 6px