html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

html,
body
  line-height: 1
//overflow-x: hidden

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

a
  color: inherit
  text-decoration: none
  cursor: pointer

*
  box-sizing: border-box
  margin: 0
  padding: 0
  outline: none


//custom
.input
  border: none
  outline: none
  font-family: "5kaSansDesign-Regular", sans-serif

.button
  background: transparent
  border: none
  font-family: "5kaSansDesign-Regular", sans-serif

.delete-part
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 9
  display: flex
  align-items: center
  justify-content: center
  background: rgba(234, 232, 232, 0.78)
  font-size: 25px
  color: #21262c
  border-radius: 8px
  pointer-events: none
  &.fill-part
    pointer-events: fill

.work-in-progress
  pointer-events: none

.work-area__title
  font-size: 15px
  font-family: "5kaSansDesign-Regular", sans-serif
  color: $black
  margin-left: 30px
  margin-bottom: 25px
  b
    font-size: 13px
    font-weight: bold


.flex_container
  height: calc(100% - 35px)
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
