@font-face
  font-family: "5kaSansDesign-Regular"
  src: url('./assets/fonts/5kaSansDesign-Regular.eot')
  src: url("./assets/fonts/5kaSansDesign-Regular.eot?#iefix") format("embedded-opentype")
  src: url("./assets/fonts/5kaSansDesign-Regular.otf") format("opentype")
  src: url("./assets/fonts/5kaSansDesign-Regular.svg") format("svg")
  src: url("./assets/fonts/5kaSansDesign-Regular.ttf") format("truetype")
  src: url("./assets/fonts/5kaSansDesign-Regular.woff") format("woff")
  src: url("./assets/fonts/5kaSansDesign-Regular.woff2") format("woff2")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "5kaSansDesign-Black"
  src: url("./assets/fonts/5kaSansDesign-Black.eot")
  src: url("./assets/fonts/5kaSansDesign-Black.eot?#iefix") format("embedded-opentype")
  src: url("./assets/fonts/5kaSansDesign-Black.otf") format("opentype")
  src: url("./assets/fonts/5kaSansDesign-Black.svg") format("svg")
  src: url("./assets/fonts/5kaSansDesign-Black.ttf") format("truetype")
  src: url("./assets/fonts/5kaSansDesign-Black.woff") format("woff")
  src: url("./assets/fonts/5kaSansDesign-Black.woff2") format("woff2")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "5kaSansDesign-SemiBold"
  src: url("./assets/fonts/5kaSansDesign-SemiBold.eot")
  src: url("./assets/fonts/5kaSansDesign-SemiBold.eot?#iefix") format("embedded-opentype")
  src: url("./assets/fonts/5kaSansDesign-SemiBold.otf") format("opentype")
  src: url("./assets/fonts/5kaSansDesign-SemiBold.svg") format("svg")
  src: url("./assets/fonts/5kaSansDesign-SemiBold.ttf") format("truetype")
  src: url("./assets/fonts/5kaSansDesign-SemiBold.woff") format("woff")
  src: url("./assets/fonts/5kaSansDesign-SemiBold.woff2") format("woff2")
  font-weight: 700
  font-style: normal
