<template>
  <div class="filter-mask scrollbar-none" :class="{'modal-mask' : activeFilter}" v-on:click="closeFilter()">
    <div id="filter" class="filter scrollbar-none" :class="{'active' : activeFilter}" v-on:click="stopPropagation">
      <div class="wrapper">
        <div class="filter__header">
          <div class="header__group">
            <div class="header__group_text"></div>
          </div>
          <a v-on:click="closeFilter()" class="header__icon_close"></a>
        </div>
        <div class="filter__status">
          <div class="status_dot"></div>
          <div class="status_item">Онлайн</div>
          <div class="status_descr">по состоянию на {{this.currentTime}}</div>
        </div>
        <div v-if="$route.meta.filterAcceptanceChart" class="filter__late">
          <div class="round">
            <input type="checkbox" name="late_checkbox" id="late_checkbox" v-model="lateValueFilter.active">
            <label for="late_checkbox">
              <span>{{ lateValueFilter.text }}</span>
            </label>
          </div>
        </div>
        <div v-if="$route.meta.filterAlerts" class="filter__storage">
          <div class="filter_text">Мониторы:</div>
          <div class="tags">
            <div v-for="item in monitorFilters" :key="item.id">
              <a :id="item.id" class="tags__item" :class="[item.cssClass, {'active': item.active}]" @click="toggleFilterStatus(item.name, 'statusFilters')">{{ item.text }}</a>
            </div>
          </div>
        </div>
        <div v-if="!$route.meta.filterTempZone" class="filter__storage">
          <div class="filter_text">Лог.склад</div>
          <div class="tags">
            <div v-for="item in logStorageFilters" :key="item.id">
              <a :id="item.id" class="tags__item" :class="[item.cssClass, {'active': item.active}]" @click="toggleFilterStatus(item.name, 'logStorageFilters')">{{ item.text }}</a>
            </div>
          </div>
        </div>
        <div v-if="$route.meta.filterTempZone" class="filter__storage">
          <div class="filter_text">Темп. зоны: </div>
          <div class="tags">
            <div v-for="item in tempZoneFilters" :key="item.id">
              <a :id="item.id" class="tags__item" :class="[item.cssClass, {'active': item.active}]" @click="toggleFilterStatus(item.name, 'tempZoneFilters')">{{ item.text }}</a>
            </div>
          </div>
        </div>
        <div v-if="$route.meta.filterAcceptanceChart || $route.meta.filterAcceptanceSchedule || $route.meta.filterAcceptanceChartGate || $route.meta.filterAcceptanceStatusPuo" class="filter__storage">
          <div class="filter_text">Приоритетные ТС:</div>
          <div class="tags">
            <a class="tags__item"
               :class="[vtechFilter.cssClass, {'active': vtechFilter.active}]" @click="showFilterPlan(); toggleVtechFilterStatus()">
              {{ vtechFilter.text + ' ' + vtechFilter.hours + ' ч.' }}
            </a>
            <div v-show="filterPlanStatus" class="filter__plan">
              <div class="filter__plan_text">
                План время компл.:
              </div>
              <div class="filter__plan_count">
                <div class="count-number">
                  <button class="decrement-button" @click="decrement">−</button>
                  <input type="number" v-model.number="filterHours" disabled />
                  <button class="increment-button" @click="increment">+</button>
                </div>
              </div>
            </div>
            <div v-for="item in prioritetTSFilters" :key="item.id">
              <a :id="item.id" class="tags__item" :class="[item.cssClass, {'active': item.active}]" @click="toggleFilterStatus(item.name, 'prioritetTSFilters')">
                  {{ item.text }}
              </a>
            </div>
          </div>
        </div>
        <div v-if="$route.meta.filterAcceptanceChart ||
         $route.meta.filterAcceptanceSchedule ||
          $route.meta.filterAcceptanceChartGate ||
           $route.meta.filterAcceptanceStatusPuo" class="filter__storage">
          <div class="filter_text">Отклонения:</div>
          <div class="tags">
            <div v-for="item in diffTimeFilters" :key="item.id">
              <a :id="item.id" class="tags__item" :class="[item.cssClass, {'active': item.active}]" @click="toggleFilterStatus(item.name, 'diffTimeFilters')">{{ item.text }}</a>
            </div>
          </div>
        </div>
        <div v-if="$route.meta.filterAcceptanceStatus" class="filter__storage">
          <div class="filter_text">Статус:</div>
          <div class="tags">
            <div v-for="item in statusFilters" :key="item.id">
              <a :id="item.id" class="tags__item" :class="[item.cssClass, {'active': item.active}]" @click="toggleFilterStatus(item.name, 'statusFilters')">{{ item.text }}</a>
            </div>
          </div>
        </div>
        <div v-if="$route.meta.filterAcceptanceSchedule || $route.meta.filterAcceptanceChartGate" class="filter__storage">
          <div class="filter_text">Статус:</div>
          <div class="tags">
            <div v-for="item in statusFiltersSchedule" :key="item.id">
              <a :id="item.id" class="tags__item" :class="[item.cssClass, {'active': item.active}]" @click="toggleFilterStatus(item.name, 'statusFiltersSchedule')">{{ item.text }}</a>
            </div>
          </div>
        </div>
        <div v-if="$route.meta.filterAcceptanceStatus || $route.meta.filterPallets" class="filter__storage">
          <div class="filter_text">Ворота:</div>
          <div class="tags">
            <div v-for="item in gatesFilters" :key="item.id">
              <a :id="item.id" class="tags__item" :class="[item.cssClass, {'active': item.active}]" @click="toggleFilterStatus(item.name, 'gatesFilters')">{{ item.text }}</a>
            </div>
          </div>
        </div>
        <div class="filter__storage">
          <div class="clear-btn">
            <a class="clear-btn-link" id="clear-btn" @click="resetFilters()">Снять все фильтры</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { globalStore } from '../main.js'

export default {
  name: 'FilterTable',
  props: {
    toggleFilterStatus: Function,
    toggleVtechFilterStatus: Function,
    toggleLTFilterStatus: Function,
    resetFilters: Function,
    activeFilter: Boolean
  },
  created () {
    let typeGate = this.$route.path.includes('pallets') ? 'STAGE' : 'PLAN_FACT'
    this.$store.dispatch('filterTable/fetchGates', {
      'type': typeGate
    })
    this.$store.dispatch('filterTable/fetchTime', this.$route.path)
    this.intervalTime = setInterval(() => this.$store.dispatch('filterTable/fetchTime'), globalStore.timeIntervalInMilliseconds)
  },
  beforeDestroy () {
    clearInterval(this.intervalTime)
  },
  methods: {
    closeFilter: function () {
      this.$emit('changeActiveFilter', false)
    },
    increment: function () {
      this.$store.dispatch('filterTable/incrementHours')
    },
    decrement: function () {
      this.$store.dispatch('filterTable/decrementHours')
    },
    showFilterPlan: function () {
      this.$store.dispatch('filterTable/showFilterPlan')
    },
    stopPropagation: (event) => {
      event.stopPropagation()
    }
  },
  data () {
    return {
      counter: 1
    }
  },
  computed: {
    ...mapGetters('filterTable', {
      logStorageFilters: 'logStorageFilters',
      tempZoneFilters: 'tempZoneFilters',
      prioritetTSFilters: 'prioritetTSFilters',
      diffTimeFilters: 'diffTimeFilters',
      statusFilters: 'statusFilters',
      gatesFilters: 'gatesFilters',
      filterHours: 'filterHours',
      filterPlanStatus: 'filterPlanStatus',
      vtechFilter: 'vtechFilter',
      currentTime: 'currentTime',
      monitorFilters: 'monitorFilters',
      statusFiltersSchedule: 'statusFiltersSchedule'
    }),
    lateValueFilter: {
      get () {
        return this.$store.state.filterTable.lateValueFilter
      },
      set (value) {
        this.$store.commit('filterTable/setLateValueFilter', value)
      }
    }
  }
}
</script>

<style scoped>
</style>
