<template>
  <div class="exits">
    <div class="exits__name">{{userName}}</div>
    <a href="#" @click="logout" class="exits__link"></a>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Profile',
  computed: {
    ...mapGetters('authority', ['userName'])
  },
  mounted () {
    this.setAuthorities()
  },
  methods: {
    logout: function () {
      this.$store.dispatch('authority/clearAuthority')
    },
    setAuthorities: function () {
      this.$store.dispatch('authority/getAuthority')
    }
  }
}
</script>
