.aside
  position: fixed
  z-index: 999
  min-width:  68px
  max-width: 68px
  height: calc( 100vh - 30px )
  background: rgba(255, 255, 255, 1)
  display: flex
  flex-direction: column
  justify-content: space-between
  border-radius: 18px
  margin: 0 20px
  transition: min-width 0.2s
  @include box-shadow(0, 0, 25)
  &__top
    width: 100%
    display: flex
    flex-direction: column
    margin: 42px 0 0
  &__city
    width: 100%
    display: flex
    align-items: center
    .logo
      width: 68px
      height: 68px
      img
        max-width: 68px
        max-height: 68px
    .city
      color: $black
      font-size: 15px
      display: flex
      align-items: center
      margin-left: 16px
      &__icon
        background: url("./assets/img/ic_10_arrow.png") no-repeat center
        width: 10px
        height: 10px
        margin-left: 16px
    .select
      width: 150px
      font-family: "5kaSansDesign-Regular"
      font-size: 17px
      appearance: none
      background: url("./assets/img/ic_10_arrow.png") no-repeat right 10px top 50%
      background-size: 10%
      padding: 8px 22px 8px 12px
      border: 0
  &__menu
    width: 100%
    display: flex
    flex-direction: column
    margin: 28px 0 0
    &_li
      width: 100%
      margin: 20px 0
      &_admin
        margin: 0 40px
      a
        width: 100%
        height: 40px
        float: left
        background-image: url("./assets/img/menu_sprites.png")
        background-repeat: no-repeat
        text-transform: uppercase
        font-size: 16px
        padding: 12px 0 0
        text-align: center
        &.active
          border-right: 4px solid $red
          color: $red
        &:hover
          color: $red
    &_monitor
      background-position: 3px -10px
      &:hover,
      &.active
        background-position: 3px -70px
    &_incidents
      background-position: 3px -130px
      &:hover,
      &.active
        background-position: 3px -190px
    &_standards
      background-position: 3px -250px
      &:hover,
      &.active
        background-position: 3px -310px
  &__bottom
    margin: 32px 0
    width: 100%
  &__support
    width: 100%
    height: 40px
    float: left
    background-image: url("./assets/img/menu_sprites.png")
    background-position: 3px -370px
    background-repeat: no-repeat
    font-size: 15px
    text-align: center
    padding: 14px 0 0 35px
    &:hover, &:active
      background-position: 3px -430px
      color: #e61801
  &__settings
    width: 100%
    height: 40px
    float: left
    background-image: url("./assets/img/menu_sprites.png")
    background-position: 3px -490px
    background-repeat: no-repeat
    font-size: 15px
    text-align: left
    padding: 14px 0 0 73px
    &:hover, &:active
      background-position: 3px -550px
      color: #e61801
  .full-menu
    display: none
  &.openMenu
    min-width: 280px
    width: auto
    position: fixed
    .full-menu
      display: block
