.header, .menu
  display: flex
  align-items: center
  justify-content: space-between
  margin: 12px 5px 15px 20px
  .breadcrumbs
    width: calc(100% - 236px)
    display: flex
    align-items: center
    flex-wrap: wrap
    &__link
      color: $light-grey
      font-size: 15px
      font-family: "5kaSansDesign-Regular", sans-serif
      text-decoration: underline
      position: relative
      margin-right: 4px
      &:after
        content: url("./assets/img/ic_10_way.png")
        position: relative
        right: -4px
        top: 1px
        margin-right: 4px
      &:last-child:after
        content: ""
        margin-right: 0
  .exits
    display: flex
    align-items: center
    &__name
      color: $black
      margin-right: 15px
    &__link
      background: url("./assets/img/ic_out.png")
      width: 24px
      height: 24px
.menu
  margin: 18px 5px 5px 20px
  &-graph
    display: flex
    align-items: center
    margin-right: 20px
    cursor: pointer
    li
      margin-right: 24px
      &:last-child
        margin-right: 0
    &__link
      font-size: 18px
      color: $dark-grey
      position: relative
      &:hover, &.active
        color: $red
        &:after
          content: ""
          position: absolute
          width: 35%
          height: 4px
          background: $red
          left: 0
          bottom: -10px
