.loader
  &-wrapper
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 25px
    display: flex
    justify-content: center
    align-items: center
    z-index: 10
  &-background
    background: white
    border-radius: 80px
    width: 100px
    height: 100px
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 1px 0px 12px 0px #3c4e6b33
