.modal-mask
  position: fixed
  z-index: 9998
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: table
  transition: opacity .3s ease
  &-sort
    position: fixed
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: table
    transition: opacity .3s ease
.modal-wrapper
  display: table-cell
  vertical-align: middle
  &.vertical
    position: absolute
.modal-container
  width: 300px
  margin: 0px auto
  padding: 20px 30px
  background-color: #fff
  border-radius: 15px
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
  transition: all .3s ease
  font-family: Helvetica, Arial, sans-serif
.modal-header
  margin-top: 0
  font-family: '5kaSansDesign-Regular', sans-serif
  font-size: 20px
  color: $black
  position: relative
.modal-body
  margin: 40px 0 0
.modal-default-button
  float: right
.modal-enter
  opacity: 0
.modal-leave-active
  opacity: 0
.modal-enter .modal-container,
.modal-leave-active .modal-container
  -webkit-transform: scale(1.1)
  transform: scale(1.1)
.icon_close
  background: url("./assets/img/ic_20_cancel.png")
  width: 20px
  height: 20px
  position: absolute
  right: -15px
  top: -5px
.modal-response
  width: 900px
  max-height: 500px
  overflow: auto
  .modal-body
    table
      border: 1px solid black
  h2
    font-size: 25px
    font-weight: bold

.popup-footer
  .clear-btn
    font-size: 15px

