.red-button
  height: 36px
  width: 100%
  background-color: $red
  border-radius: 18px
  color: white
  .link
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    text-transform: uppercase
    font-family: '5kaSansDesign-Black', sans-serif
    font-size: 15px
